Repository stratisproject/StratisBitcoinFullNode, pull requests merged in 2018-12, with the labels that each got.

#2798 [SC] Display history with empty block numbers first
  src/Stratis.Bitcoin.Features.SmartContracts/Wallet/SmartContractWalletController.cs
Labels: smart-contracts

#2857 Ability to access private CHT members in tests
  src/Stratis.Bitcoin.Features.PoA.IntegrationTests.Common/PoANodeRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/NodeBuilder.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/TestChainedHeaderTree.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Extensions/FullNodeTestBuilderExtension.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisBitcoinPosRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisBitcoinPowRunner.cs
  src/Stratis.Bitcoin.IntegrationTests/Compatibility/StratisXTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ProofOfStakeSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/ColdWalletTests.cs
  src/Stratis.Bitcoin/Consensus/ChainedHeaderTree.cs
  src/Stratis.SmartContracts.Tests.Common/StratisSmartContractNode.cs
  src/Stratis.SmartContracts.Tests.Common/StratisSmartContractPosNode.cs
Labels: Integration/Unit Test

#2871 [SC] TokenStandard adjustments
  src/Stratis.SmartContracts.IntegrationTests/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/StandardToken.cs
  src/Stratis.SmartContracts.Standards/IStandardToken.cs
  src/Stratis.SmartContracts.Token.Tests/StandardTokenTests.cs
  src/Stratis.SmartContracts.Token/IStandardToken.cs
  src/Stratis.SmartContracts.Token/StandardToken.cs
  src/Stratis.SmartContracts.Token/Stratis.SmartContracts.Token.csproj
Labels: smart-contracts

#2966 [Light Wallet] Fix Breeze node and introduce pruning
  src/Stratis.Bitcoin.Features.BlockStore.Tests/BlockRepositoryTest.cs
  src/Stratis.Bitcoin.Features.BlockStore/BlockRepository.cs
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreFeature.cs
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreSignaled.cs
  src/Stratis.Bitcoin.Features.BlockStore/IPrunedBlockRepository.cs
  src/Stratis.Bitcoin.Features.BlockStore/PrunedBlockRepository.cs
  src/Stratis.Bitcoin.Features.BlockStore/StoreSettings.cs
  src/Stratis.Bitcoin.Features.Consensus.Tests/TestChainFactory.cs
  src/Stratis.Bitcoin.Features.LightWallet.Tests/LightWalletSyncManagerTest.cs
  src/Stratis.Bitcoin.Features.LightWallet/Blocks/IPruneBlockStoreService.cs
  src/Stratis.Bitcoin.Features.LightWallet/Blocks/PruneBlockStoreService.cs
  src/Stratis.Bitcoin.Features.LightWallet/LightWalletFeature.cs
  src/Stratis.Bitcoin.Features.LightWallet/LightWalletInitialBlockDownloadState.cs
  src/Stratis.Bitcoin.Features.LightWallet/LightWalletSyncManager.cs
  src/Stratis.Bitcoin.Features.Miner/MiningFeature.cs
  src/Stratis.Bitcoin.Features.Notifications/BlockNotificationFeature.cs
  src/Stratis.Bitcoin.Features.Notifications/TransactionNotification.cs
  src/Stratis.Bitcoin.Features.Wallet.Tests/WalletSyncManagerTest.cs
  src/Stratis.Bitcoin.Features.Wallet/Interfaces/IWalletSyncManager.cs
  src/Stratis.Bitcoin.Features.Wallet/WalletSyncManager.cs
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/BlockStoreTests.cs
  src/Stratis.BreezeD/Program.cs
  src/Stratis.BreezeD/Properties/launchSettings.json
Labels: pr-review-high

#2988 [SC] Changes to Address and version bumps
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/AddressTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Stratis.Bitcoin.Features.SmartContracts.csproj
  src/Stratis.SmartContracts.CLR/Stratis.SmartContracts.CLR.csproj
  src/Stratis.SmartContracts/Address.cs
  src/Stratis.SmartContracts/AssemblyInfo.cs
  src/Stratis.SmartContracts/Stratis.SmartContracts.csproj
Labels: smart-contracts

#3000 [SC] SC nodes set up with correct MempoolSettings on mainnet
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractMempoolValidator.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractNodeSetupTests.cs
Labels: smart-contracts

#3003 [SC] ObserverRewriter update
  src/Stratis.SmartContracts.CLR/ILRewrite/GasInjectorRewriter.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ValidationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/ConstructorLoop.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts
