Repository stratisproject/StratisBitcoinFullNode, pull requests merged in 2018-10, with the labels that each got.

#2302 [SC] Improve method param serialization
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/CallDataSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/SmartContractFormatRuleTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractExecutorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractRefundProcessorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ExecutorSpecification.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/SmartContractsController.cs
  src/Stratis.SmartContracts.Executor.Reflection/CallDataSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractCarrier.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractTxData.cs
  src/Stratis.SmartContracts.Executor.Reflection/ICallDataSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/IMethodParameterSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterDataType.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterSerializer.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractMemoryPoolTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractMinerTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletOnPosNetworkTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.Tools.Sct/ValidatorService.cs
Labels: smart-contracts

#2327 [SC] Use shared nonce state during tx execution
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/NonceGeneratorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/StateTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/StateTransitionSpecification.cs
  src/Stratis.SmartContracts.Executor.Reflection/IState.cs
  src/Stratis.SmartContracts.Executor.Reflection/NonceGenerator.cs
  src/Stratis.SmartContracts.Executor.Reflection/State.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractExecutionFailureTests.cs
Labels: smart-contracts

#2264 [API] Add stopmining method to API + tests
  src/Stratis.Bitcoin.Features.Miner.Tests/Controllers/MiningControllerTest.cs
  src/Stratis.Bitcoin.Features.Miner/Controllers/MiningController.cs
Labels: Test Coverage, pr-review-low

#2323 Minor test fix
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/BitcoinCoreRunner.cs
  src/Stratis.Bitcoin.IntegrationTests/API/ApiSteps.cs
Labels: low priority

#2340 [SC] Tests and fixes for string-based method param serialization
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/CallDataSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/SmartContractFormatRuleTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/TestRulesContext.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractExecutorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/MethodParameterStringSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractFeature.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterStringSerializer.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractMemoryPoolTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractMinerTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletOnPosNetworkTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.Tools.Sct/ValidatorService.cs
Labels: smart-contracts

#2343 deserialise any IBitcoinSerializable
  src/Stratis.Bitcoin.Tests/Utilities/DBreezeTest.cs
  src/Stratis.Bitcoin/Utilities/DBreezeSerializer.cs
Labels: pr-review-high

#2366 [SC] BalanceState and Transfer fixes
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/StateTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/StateTransitionSpecification.cs
  src/Stratis.SmartContracts.Executor.Reflection/BalanceState.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractExecutor.cs
  src/Stratis.SmartContracts.Executor.Reflection/IState.cs
  src/Stratis.SmartContracts.Executor.Reflection/State.cs
  src/Stratis.SmartContracts.Executor.Reflection/StateFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/StateProcessor.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/ReceiveFundsTest.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#2367 [SC] Remove unnecessary methods from PersistentState API
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/AuctionTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/PersistentState.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/StorageDemo.cs
  src/Stratis.SmartContracts.Tools.Sct/ValidatorService.cs
  src/Stratis.SmartContracts/IPersistentState.cs
Labels: smart-contracts

#2358 [Integration Tests] Clean up NotInIBD
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/CoreNode.cs
  src/Stratis.Bitcoin.IntegrationTests/API/ApiSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/BlockStoreTests.cs
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/ProofOfWorkSpendingSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/ReorgToLongestChainSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/RetrieveFromBlockStoreSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Mempool/MemoryPoolTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Mempool/MempoolRelaySpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/MinerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/NodeSyncTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ProofOfStakeSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/RPC/RPCTests.cs
  src/Stratis.Bitcoin.IntegrationTests/RPC/RPCTestsMutable.cs
  src/Stratis.Bitcoin.IntegrationTests/Transactions/TransactionWithNullDataSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingStakedCoinsBeforeMaturity_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingToAndFromManyAddressesSpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingTransactionOverPolicyByteLimitSpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingTxWithDoubleSpendSpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletAddressGenerationAndFundsVisibility_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletTests.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/Chain.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/Node.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractNodeSyncTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletOnPosNetworkTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletTests.cs
Labels: improvement

#2362 [SC] Fix #1698 GasInjector and MemoryLimit rewriters create invalid programs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractExecutorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContracts/MultipleIfElseBlocks.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContracts/NestedLoop.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Stratis.Bitcoin.Features.SmartContracts.Tests.csproj
  src/Stratis.SmartContracts.Executor.Reflection/ILRewrite/GasInjectorRewriter.cs
  src/Stratis.SmartContracts.Executor.Reflection/ILRewrite/MemoryLimitRewriter.cs
Labels: smart-contracts

#2359 PoA BlockHeader
  src/NBitcoin/BlockSignature.cs
  src/NBitcoin/Crypto/HashStream.cs
  src/Stratis.Bitcoin.Features.Consensus/Extensions.cs
  src/Stratis.Bitcoin.Features.PoA.Tests/PoAHeaderSignatureTests.cs
  src/Stratis.Bitcoin.Features.PoA.Tests/PoAHeadersPayloadTests.cs
  src/Stratis.Bitcoin.Features.PoA/Payloads/PoAHeadersPayload.cs
  src/Stratis.Bitcoin.Features.PoA/PoABlockHeader.cs
  src/Stratis.Bitcoin.Features.PoA/PoABlockHeaderValidator.cs
  src/Stratis.Bitcoin.Features.PoA/PoAConsensusFactory.cs
  src/Stratis.Bitcoin.Features.PoA/PoAFeature.cs
  src/Stratis.Bitcoin.Tests/Utilities/AsyncLoopTest.cs
Labels: PoA

#2372 [SC] Demo test that internal transfer ordering issue is fixed
  src/Stratis.SmartContracts.IntegrationTests/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/MultipleNestedCalls.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#2351 [SC] Remove and reorder method parameter data types
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/CallDataSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/MethodParameterStringSerializerTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterDataType.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterStringSerializer.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletTests.cs
Labels: smart-contracts

#2354 [SC] Assorted integration tests
  src/Stratis.SmartContracts.IntegrationTests/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/BasicParameters.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/CreationTransfer.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/NonceTest.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/PrivateMethod.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#2248 [Consensus] Implement PosBlockContextRule
  src/NBitcoin/Crypto/ECDSASignature.cs
  src/NBitcoin/ScriptEvaluationContext.cs
  src/Stratis.Bitcoin.Features.Consensus.Tests/Rules/CommonRules/PosBlockSignatureRepresentationRuleTest.cs
  src/Stratis.Bitcoin.Features.Consensus.Tests/Rules/CommonRules/RulesRegistrationOrderTest.cs
  src/Stratis.Bitcoin.Features.Consensus/ConsensusFeature.cs
  src/Stratis.Bitcoin.Features.Consensus/PosBlockValidator.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/PosBlockContextRule.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/PosBlockSignatureRepresentationRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractPosRuleRegistration.cs
Labels: pr-review-critical

#2380 [SC] Make TransferInfo immutable
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractTransferProcessorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/StateTests.cs
  src/Stratis.SmartContracts.Core/State/AccountAbstractionLayer/TransferInfo.cs
  src/Stratis.SmartContracts.Executor.Reflection/StateProcessor.cs
Labels: smart-contracts

#2383 [SC] Amend SmartContractFormatRule so it's used
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Consensus/Rules/SmartContractFormatRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractPowRuleRegistration.cs
Labels: smart-contracts

#2404 [SC] Rule to check that we can get sender
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/CanGetSenderRuleTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Consensus/Rules/CanGetSenderRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractPowRuleRegistration.cs
  src/Stratis.SmartContracts.Core/Stratis.SmartContracts.Core.csproj
  src/Stratis.SmartContracts.Core/Util/ISenderRetriever.cs
  src/Stratis.SmartContracts.Core/Util/SenderRetriever.cs
Labels: smart-contracts

#2405 [SC] Allowed script rule
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/AllowedScriptTypeRuleTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Consensus/ISmartContractCoinviewRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Consensus/Rules/AllowedScriptTypeRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractMempoolValidator.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractPowRuleRegistration.cs
Labels: smart-contracts

#2409 [SC] Remove uint160 from allowable method params
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/CallDataSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/MethodParameterStringSerializerTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterDataType.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterStringSerializer.cs
Labels: smart-contracts

#2377 Dummy miner that will be needed to check syncing and payloads
  src/Stratis.Bitcoin.Features.PoA/ConsensusRules/PoACoinviewRule.cs
  src/Stratis.Bitcoin.Features.PoA/FederationManager.cs
  src/Stratis.Bitcoin.Features.PoA/PoABlockDefinition.cs
  src/Stratis.Bitcoin.Features.PoA/PoAFeature.cs
  src/Stratis.Bitcoin.Features.PoA/PoAMiner.cs
  src/Stratis.Bitcoin.Features.PoA/Stratis.Bitcoin.Features.PoA.csproj
Labels: PoA

#2413 Wallet manual tests fixes
  src/Stratis.Bitcoin.Api.Tests/Postman requests/Wallet.postman_collection.json
  src/Stratis.Bitcoin.Features.Wallet.Tests/WalletControllerTest.cs
  src/Stratis.Bitcoin.Features.Wallet.Tests/WalletManagerTest.cs
  src/Stratis.Bitcoin.Features.Wallet/Controllers/WalletController.cs
  src/Stratis.Bitcoin.Features.Wallet/Models/RequestModels.cs
  src/Stratis.Bitcoin.Features.Wallet/Wallet.cs
  src/Stratis.Bitcoin.Features.Wallet/WalletManager.cs
Labels: Test Coverage

#2420 [PoA] Add rule for header bits
  src/NBitcoin/UInt256.cs
  src/Stratis.Bitcoin.Features.PoA.Tests/PoAHeaderDifficultyRuleTests.cs
  src/Stratis.Bitcoin.Features.PoA.Tests/Stratis.Bitcoin.Features.PoA.Tests.csproj
  src/Stratis.Bitcoin.Features.PoA/ConsensusRules/PoAConsensusErrors.cs
  src/Stratis.Bitcoin.Features.PoA/ConsensusRules/PoAHeaderDifficultyRule.cs
  src/Stratis.Bitcoin.Features.PoA/PoAFeature.cs
  src/Stratis.Bitcoin.Tests.Common/ChainedHeadersHelper.cs
Labels: PoA

#2422 [PoA] PoA consensus manager behavior
  src/Stratis.Bitcoin.Features.PoA/PoAConsensusManagerBehavior.cs
  src/Stratis.Bitcoin.Features.PoA/PoAFeature.cs
  src/Stratis.Bitcoin.Features.PoA/PoAMiner.cs
  src/Stratis.Bitcoin/Consensus/ConsensusManagerBehavior.cs
Labels: PoA

#2410 [SC] Fix Address equality
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/AddressTests.cs
  src/Stratis.SmartContracts/Address.cs
Labels: smart-contracts

#2431 Fixed fees for Stratis Regtest
  src/NBitcoin.Tests/NetworkTests.cs
  src/Stratis.Bitcoin.Networks/BitcoinRegTest.cs
  src/Stratis.Bitcoin.Networks/StratisRegTest.cs
Labels: UAT Issues

#2411 [SC] Set single state field on contract
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ObserverTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/Contract.cs
  src/Stratis.SmartContracts/SmartContract.cs
Labels: smart-contracts

#2436 [SC] Remove PoS test
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletOnPosNetworkTests.cs
Labels: smart-contracts

#2429 [SC] Validate optional params
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractTests.cs
  src/Stratis.SmartContracts.Core.Validation.Tests/SmartContractDeterminismValidatorTests.cs
  src/Stratis.SmartContracts.Core.Validation.Tests/ValidationTests.cs
  src/Stratis.SmartContracts.Core.Validation/Validators/Method/MethodParamValidator.cs
  src/Stratis.SmartContracts.Executor.Reflection/Contract.cs
Labels: smart-contracts

#2433 [SC] Storage improvements
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ExecutorFixture.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ExecutorSpecification.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/StateRepositoryTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Consensus/Rules/SmartContractCoinviewRule.cs
  src/Stratis.SmartContracts.Core/State/CachedStorageCaches.cs
  src/Stratis.SmartContracts.Core/State/IStateRepository.cs
  src/Stratis.SmartContracts.Core/State/IStorageCaches.cs
  src/Stratis.SmartContracts.Core/State/MultiCache.cs
  src/Stratis.SmartContracts.Core/State/MultiStorageCache.cs
  src/Stratis.SmartContracts.Core/State/ReadCache.cs
  src/Stratis.SmartContracts.Core/State/ReadWriteCache.cs
  src/Stratis.SmartContracts.Core/State/RootStorageCaches.cs
  src/Stratis.SmartContracts.Core/State/StateRepository.cs
  src/Stratis.SmartContracts.Core/State/StateRepositoryRoot.cs
  src/Stratis.SmartContracts.Core/State/StorageCache.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractExecutor.cs
  src/Stratis.SmartContracts.Executor.Reflection/InternalExecutor.cs
Labels: smart-contracts

#2439 [SC] Add test for an empty module
  src/Stratis.SmartContracts.IntegrationTests/ContractExecutionFailureTests.cs
Labels: smart-contracts

#2427 [PoA] Slots manager
  src/Stratis.Bitcoin.Features.PoA.Tests/SlotsManagerTests.cs
  src/Stratis.Bitcoin.Features.PoA/ConsensusRules/PoAConsensusErrors.cs
  src/Stratis.Bitcoin.Features.PoA/FederationManager.cs
  src/Stratis.Bitcoin.Features.PoA/PoAConsensusFactory.cs
  src/Stratis.Bitcoin.Features.PoA/PoAFeature.cs
  src/Stratis.Bitcoin.Features.PoA/PoAMiner.cs
  src/Stratis.Bitcoin.Features.PoA/PoANetwork.cs
  src/Stratis.Bitcoin.Features.PoA/SlotsManager.cs
Labels: PoA

#2443 [Integration Tests] Fixed and moved some tests from Fazz's merge
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/NodeRunner.cs
  src/Stratis.Bitcoin.IntegrationTests/MinerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Miners/ProofOfStakeMiningTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Miners/ProofOfWorkMiningTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ProofOfStakeSteps.cs
Labels: Integration/Unit Test

#2452 [SC] Serialization improvements
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/AuctionTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractExecutorTestContext.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractExecutorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractPrimitiveSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ObserverTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ReflectionVirtualMachineTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractFeature.cs
  src/Stratis.SmartContracts.Executor.Reflection/PersistentState.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/ContractPrimitiveSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/IContractPrimitiveSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/Serializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/SmartContractStateFactory.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractMinerTests.cs
  src/Stratis.SmartContracts/ISerializer.cs
Labels: smart-contracts

#2451 [SC] Byte array param serialization
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/HexByteArrayTests.cs
  src/Stratis.SmartContracts.Core/Extensions.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterStringSerializer.cs
Labels: smart-contracts

#2478 [SC] OptimizationLevel Release for Compiler
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractExecutorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/DeterminismErrorMessageTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/DeterminismValidationTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ObserverTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/TimeoutHelper.cs
  src/Stratis.SmartContracts.Executor.Reflection/Compilation/ContractCompiler.cs
  src/Stratis.SmartContracts.Executor.Reflection/ILRewrite/CecilExtensions.cs
  src/Stratis.SmartContracts.Executor.Reflection/ILRewrite/CodeSegment.cs
  src/Stratis.SmartContracts.Executor.Reflection/ILRewrite/GasInjectorRewriter.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/NonDeterministicContract.cs
Labels: smart-contracts

#2476 [SC] Change method param serialization scheme
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/CallDataSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/SmartContractFormatRuleTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/TestRulesContext.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractExecutorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/MethodParameterByteSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/MethodParameterStringSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/SmartContractsController.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractFeature.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractPowRuleRegistration.cs
  src/Stratis.SmartContracts.Executor.Reflection/CallDataSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/ICallDataSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/PersistentState.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/ContractPrimitiveSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/IContractPrimitiveSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/IMethodParameterSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/IMethodParameterStringSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterByteSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterStringSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/Prefix.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/Serializer.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractMemoryPoolTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractMinerTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletOnPosNetworkTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletTests.cs
  src/Stratis.SmartContracts/ISerializer.cs
Labels: smart-contracts

#2492 [SC] Fix debug level used for compiling validation tests
  src/Stratis.SmartContracts.Core.Validation.Tests/SmartContractDeterminismValidatorTests.cs
Labels: smart-contracts

#2490 [SC] Integration test serializing all parameter types in a Call()
  src/Stratis.SmartContracts.IntegrationTests/ContractParameterSerializationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/CallWithAllParameters.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/ForwardParameters.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#2494 [SC] Nested calls integration test
  src/Stratis.SmartContracts.IntegrationTests/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/NestedCallsReceiver.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/NestedCallsStarter.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#2496 [SC] I broke the build! Add Clear to IPersistentState implementation
  src/Stratis.SmartContracts.Tools.Sct/ValidatorService.cs
Labels: smart-contracts

#2479 [Integration Tests] Reorg tests for consensus part 1
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/BlockBuilder.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/CoreNode.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerFailedReorgTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerTests.cs
  src/Stratis.Bitcoin/Consensus/ConsensusManager.cs
Labels: Integration/Unit Test

#2491 [SC] Transaction data serialization
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/CallDataSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/SmartContractFormatRuleTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/TestRulesContext.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractExecutorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractPowRuleRegistration.cs
  src/Stratis.SmartContracts.Executor.Reflection/ArrayExtensions.cs
  src/Stratis.SmartContracts.Executor.Reflection/CallDataSerializer.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractMemoryPoolTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractMinerTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletOnPosNetworkTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletTests.cs
Labels: smart-contracts

#2508 [SC] Where T : struct
  src/Stratis.SmartContracts.Executor.Reflection/ContractLogging/ContractLogHolder.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractLogging/MeteredContractLogger.cs
  src/Stratis.SmartContracts/IContractLogger.cs
Labels: smart-contracts

#2510 [SC] Rearranging tests preparing for PoA
  src/Stratis.Bitcoin.Features.SmartContracts/Stratis.Bitcoin.Features.SmartContracts.csproj
  src/Stratis.SmartContracts.IntegrationTests/MockChain/IMockChain.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/MockChainNode.cs
  src/Stratis.SmartContracts.IntegrationTests/PoA/MockChain/PoAMockChain.cs
  src/Stratis.SmartContracts.IntegrationTests/PoA/MockChain/PoAMockChainFixture.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractCreationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractParameterSerializationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/MockChain/PoWMockChain.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/MockChain/PoWMockChainFixture.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractMemoryPoolTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractMinerTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractNodeSyncTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractSharedSteps.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletOnPosNetworkTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
Labels: smart-contracts

#2504 [Integration Tests] Consensus reorg tests part 2
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerFailedReorgTests.cs
Labels: Integration/Unit Test, Test Coverage

#2528 [SC] Add ContractExists to PersistentState
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/AuctionTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/GasPriceList.cs
  src/Stratis.SmartContracts.Executor.Reflection/IPersistenceStrategy.cs
  src/Stratis.SmartContracts.Executor.Reflection/MeteredPersistenceStrategy.cs
  src/Stratis.SmartContracts.Executor.Reflection/PersistentState.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractCreationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/ContractCreation.cs
  src/Stratis.SmartContracts.Tools.Sct/ValidatorService.cs
  src/Stratis.SmartContracts/IPersistentState.cs
Labels: smart-contracts

#2525 Add sign option to WalletContext
  src/Stratis.Bitcoin.Features.Wallet/WalletRPCController.cs
  src/Stratis.Bitcoin.Features.Wallet/WalletTransactionHandler.cs
Labels: pr-review-medium

#2515 [Integration Tests] Cleanup usage of TestHelpers Part 1
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/CoreNode.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
  src/Stratis.Bitcoin.IntegrationTests/CoinViewTests.cs
  src/Stratis.Bitcoin.IntegrationTests/MinerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/NodeSyncTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ProofOfStakeSteps.cs
Labels: Integration/Unit Test, improvement

#2532 Updated Microsoft.AspNetCore.App from 2.1.1 to 2.1.5 due to CVE.
  src/Stratis.Bitcoin.Api.Tests/Stratis.Bitcoin.Api.Tests.csproj
  src/Stratis.Bitcoin.Features.Api/Stratis.Bitcoin.Features.Api.csproj
  src/Stratis.Bitcoin.IntegrationTests.Common/Stratis.Bitcoin.IntegrationTests.Common.csproj
  src/Stratis.Bitcoin.IntegrationTests/Stratis.Bitcoin.IntegrationTests.csproj
  src/Stratis.BreezeD/Stratis.BreezeD.csproj
  src/Stratis.StratisD/Stratis.StratisD.csproj
  src/Stratis.StratisDnsD/Stratis.StratisDnsD.csproj
Labels: pr-review-low

#2537 [Integration Tests] Cleanup usage of TestHelpers Part 3
  src/Stratis.Bitcoin.IntegrationTests/Mempool/MemoryPoolTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Mempool/MempoolRelaySpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Miners/ProofOfStakeMiningTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Miners/ProofOfStakeMintCoinsSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/Miners/ProofOfWorkMiningTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Transactions/TransactionWithNullDataSpecification.cs
  src/Stratis.Bitcoin.IntegrationTests/Transactions/TransactionWithNullDataSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingStakedCoinsBeforeMaturity_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingToAndFromManyAddressesSpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingTransactionOverPolicyByteLimitSpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingTxWithDoubleSpendSpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletAddressGenerationAndFundsVisibility_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletTests.cs
Labels: Integration/Unit Test, improvement

#2539 [Integration Tests] Cleanup usage of TestHelpers Part 4
  src/Stratis.Bitcoin.IntegrationTests/API/ApiSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/RPC/BaseRPCControllerTest.cs
  src/Stratis.Bitcoin.IntegrationTests/RPC/ConsensusActionTests.cs
  src/Stratis.Bitcoin.IntegrationTests/RPC/RPCSettingsTest.cs
  src/Stratis.Bitcoin.IntegrationTests/RPC/RPCTests.cs
  src/Stratis.Bitcoin.IntegrationTests/RPC/RPCTestsMutable.cs
  src/Stratis.Bitcoin.IntegrationTests/RPC/RpcBitcoinMutableTests.cs
Labels: Integration/Unit Test, improvement

#2381 [PH] Proven Header Coinstake validation rule
  src/NBitcoin/ConsensusOptions.cs
  src/NBitcoin/ProvenBlockHeader.cs
  src/Stratis.Bitcoin.Features.Consensus.Tests/Rules/ConsensusRuleUnitTestBase.cs
  src/Stratis.Bitcoin.Features.Consensus.Tests/Rules/ProvenHeaderRules/ProvenBlockHeaderCoinstakeRuleTest.cs
  src/Stratis.Bitcoin.Features.Consensus/ConsensusFeature.cs
  src/Stratis.Bitcoin.Features.Consensus/Interfaces/IStakeValidator.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/PosTimeMaskRule.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/ProvenHeaderRules/ProvenHeaderCoinstakeRule.cs
  src/Stratis.Bitcoin.Features.Consensus/StakeValidator.cs
  src/Stratis.Bitcoin.Features.Miner/Staking/PosMinting.cs
  src/Stratis.Bitcoin/Consensus/ConsensusErrors.cs
Labels: pr-review-critical

#2536 Modular input check in CoinviewRule
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/CoinviewRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Consensus/Rules/SmartContractCoinviewRule.cs
Labels: Refactor

#2512 [SC] Add standard token contract
  src/Stratis.Bitcoin.FullNode.sln
  src/Stratis.SmartContracts.Token.Tests/StandardTokenTests.cs
  src/Stratis.SmartContracts.Token.Tests/Stratis.SmartContracts.Token.Tests.csproj
  src/Stratis.SmartContracts.Token/IStandardToken.cs
  src/Stratis.SmartContracts.Token/StandardToken.cs
  src/Stratis.SmartContracts.Token/Stratis.SmartContracts.Token.csproj
Labels: smart-contracts

#2529 [ColdStaking] Bip9 comments
  src/Stratis.Bitcoin/Base/Deployments/ThresholdConditionCache.cs
Labels: pr-review-medium

#2530 [SC] Serializing Arrays Integration Test
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractParameterSerializationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/CreateWithAllArrays.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#2542 [Integration Tests] TS101_Connectivity_CallAddNode
  src/Stratis.Bitcoin.IntegrationTests/Connectivity/ConnectivityTests.cs
Labels: Integration/Unit Test, Test Coverage

#2463 [PH] 2387 proven block header store reorg
  src/NBitcoin/BlockStake.cs
  src/Stratis.Bitcoin.Features.Consensus.Tests/ProvenBlockHeaders/ProvenBlockHeaderStoreTests.cs
  src/Stratis.Bitcoin.Features.Consensus/ProvenBlockHeaders/IProvenBlockHeaderProvider.cs
  src/Stratis.Bitcoin.Features.Consensus/ProvenBlockHeaders/IProvenBlockHeaderRepository.cs
  src/Stratis.Bitcoin.Features.Consensus/ProvenBlockHeaders/IProvenBlockHeaderStore.cs
  src/Stratis.Bitcoin.Features.Consensus/ProvenBlockHeaders/ProvenBlockHeaderException.cs
  src/Stratis.Bitcoin.Features.Consensus/ProvenBlockHeaders/ProvenBlockHeaderRepository.cs
  src/Stratis.Bitcoin.Features.Consensus/ProvenBlockHeaders/ProvenBlockHeaderStore.cs
  src/Stratis.Bitcoin.Tests.Common/TestBase.cs
  src/Stratis.Bitcoin/Utilities/DBreezeSerializer.cs
  src/Stratis.Bitcoin/Utilities/MemoryCache.cs
  src/Stratis.Bitcoin/Utilities/MemoryCountCache.cs
  src/Stratis.Bitcoin/Utilities/MemorySizeCache.cs
Labels: pr-review-high

#2549 [Integration Tests] Update TestHelper in SmartContracts
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/NodeBuilder.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/MinerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/RPC/RPCTests.cs
  src/Stratis.Bitcoin.IntegrationTests/RPC/RpcBitcoinImmutableTests.cs
  src/Stratis.Bitcoin.IntegrationTests/RPC/RpcBitcoinMutableTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractMemoryPoolTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractNodeSyncTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletOnPosNetworkTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
Labels: Integration/Unit Test

#2531 [Integration Tests] Consensus reorg tests part 3
  src/Stratis.Bitcoin.IntegrationTests.Common/BlockObserverFeature.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/CoreNode.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/NodeRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisBitcoinPosRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerInterceptorTests.cs
Labels: Integration/Unit Test, Test Coverage

#2522 [Integration Tests] [BlockStoreSignaled] Additional tests
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/BlockStoreSignaledTests.cs
Labels: Integration/Unit Test, Test Coverage

#2577 [SC] Remove unused file
  src/Stratis.SmartContracts/CreateContract.cs
Labels: smart-contracts

#2578 More Wallet integration tests
  src/Stratis.Bitcoin.IntegrationTests/Stratis.Bitcoin.IntegrationTests.csproj
  src/Stratis.Bitcoin.IntegrationTests/Wallet/Data/test.wallet.json
  src/Stratis.Bitcoin.IntegrationTests/Wallet/Data/wallet-with-funds.wallet.json
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletOperationsTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletPostOperationsTests.cs
Labels: Test Coverage, wallet

#2561 [Integration Tests] Connection - 4 final tests.
  src/NBitcoin.Tests/pos_transaction_tests.cs
  src/Stratis.Bitcoin.Features.RPC/RPCClient.cs
  src/Stratis.Bitcoin.IntegrationTests/Connectivity/ConnectivityTests.cs
  src/Stratis.Bitcoin/Connection/ConnectionManager.cs
  src/Stratis.Bitcoin/P2P/PeerSelector.cs
Labels: Integration/Unit Test, Test Coverage

#2557 [SC] Gas amendments and recursive call integration tests
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractExecutorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ObserverTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContracts/CallInfiniteLoopContract.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Consensus/Rules/SmartContractFormatRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractMempoolValidator.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractTransactionPolicy.cs
  src/Stratis.SmartContracts.Executor.Reflection/GasPriceList.cs
  src/Stratis.SmartContracts.Executor.Reflection/InternalExecutor.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/MockChainNode.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractMinerTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/RecursiveLoopCall.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/RecursiveLoopCreate.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#2584 [SC] Add PersistentState Get and Set for raw byte arrays
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/AuctionTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/PersistentState.cs
  src/Stratis.SmartContracts.Tools.Sct/ValidatorService.cs
  src/Stratis.SmartContracts/IPersistentState.cs
Labels: smart-contracts

#2591 [Integration Tests] Remove defaulted DateTimeProvider override for Pos Runners
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/CoreNode.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/InitialBlockDownloadStateMock.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Extensions/FullNodeTestBuilderExtension.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/NodeRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisBitcoinPosRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisSmartContractPosNode.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerInterceptorTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/NodeSyncTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ProofOfStakeSteps.cs
  src/XUnitRetry/DelayedMessageBus.cs
Labels: Integration/Unit Test, improvement

#2517 [Integration Tests] Mempool additional tests 2
  src/Stratis.Bitcoin.Features.MemoryPool.Tests/MempoolValidatorTest.cs
Labels: Integration/Unit Test, Test Coverage

#2601 [Mempool] Don't send getdata unnecessarily in response to inv
  src/Stratis.Bitcoin.Features.MemoryPool/MempoolBehavior.cs
Labels: bug, pr-review-low

#2614 [Integration Tests] Added retry to custom node builder tests and WalletCanReorg
  src/Stratis.Bitcoin.IntegrationTests/CustomNodeBuilderTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletTests.cs
  src/Stratis.Bitcoin/FullNode.cs
Labels: Integration/Unit Test, improvement

#2599 [SC] Min gas price in mempool validator
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractMempoolValidator.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/MockChainNode.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractMemoryPoolTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
Labels: smart-contracts

#2610 [SC] PoA mining with an SC runner
  src/Stratis.Bitcoin.Features.SmartContracts/PoA/SmartContractPoABlockDefinition.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/AllowedScriptTypeRule.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/NodeBuilder.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/MockChainNode.cs
  src/Stratis.SmartContracts.IntegrationTests/PoA/ChainBuildsTest.cs
  src/Stratis.SmartContracts.IntegrationTests/PoA/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoA/MockChain/PoAMockChain.cs
  src/Stratis.SmartContracts.IntegrationTests/PoA/MockChain/PoAMockChainFixture.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/MockChain/PoWMockChain.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractMemoryPoolTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractNodeSyncTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletOnPosNetworkTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractNodeBuilder.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractPoARunner.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
  src/Stratis.SmartContracts.IntegrationTests/StratisSmartContractNode.cs
  src/Stratis.SmartContracts.IntegrationTests/StratisSmartContractPosNode.cs
  src/Stratis.SmartContracts.Networks/SmartContractsPoARegTest.cs
Labels: smart-contracts

#2621 [SC] Fix boundaries of Stratis.SmartContracts.Core
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/AddressTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/AuctionTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractLogHolderTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractPrimitiveSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/MethodParameterByteSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/MethodParameterStringSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ObserverTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ReflectionVirtualMachineTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Models/ReceiptResponse.cs
  src/Stratis.SmartContracts.Core/Extensions.cs
  src/Stratis.SmartContracts.Core/Hashing/HashHelper.cs
  src/Stratis.SmartContracts.Core/IContractExecutionResult.cs
  src/Stratis.SmartContracts.Core/Stratis.SmartContracts.Core.csproj
  src/Stratis.SmartContracts.Executor.Reflection/AddressExtensions.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractExecutor.cs
  src/Stratis.SmartContracts.Executor.Reflection/SmartContractExecutionResult.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/MockChainNode.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractParameterSerializationTests.cs
  src/Stratis.SmartContracts.Networks/SmartContractsPoARegTest.cs
  src/Stratis.SmartContracts.Token.Tests/StandardTokenTests.cs
  src/Stratis.SmartContracts/AssemblyInfo.cs
  src/Stratis.SmartContracts/Block.cs
  src/Stratis.SmartContracts/Message.cs
Labels: smart-contracts

#2627 Fix AddToPending bug and integration tests
  src/Stratis.Bitcoin.Features.BlockStore.Tests/BlockStoreTests.cs
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreFeature.cs
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreQueue.cs
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreQueueFlushCondition.cs
  src/Stratis.Bitcoin.Features.Consensus.Tests/TestChainFactory.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/CoreNode.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Extensions/OverrideServiceFeatureExtension.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/NodeRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisBitcoinPowRunner.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerTests.cs
  src/Stratis.Bitcoin/Interfaces/IBlockStoreQueueFlushCondition.cs
Labels: Integration/Unit Test, bug, improvement

#2632 [SC] Don't generate internal transaction if reversion required
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractTransferProcessorTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/ResultProcessors/ContractTransferProcessor.cs
Labels: smart-contracts

#2622 [SC] Begin architecture docs
  Documentation/smart-contracts-architecture.md
Labels: smart-contracts

#2637 [Integration Tests] Smart contract mock chain to use TestHelper methods
  src/Stratis.Bitcoin.Features.PoA.IntegrationTests/Tools/TestPoAMiner.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/IMockChain.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/MockChainNode.cs
  src/Stratis.SmartContracts.IntegrationTests/PoA/ChainBuildsTest.cs
  src/Stratis.SmartContracts.IntegrationTests/PoA/MockChain/PoAMockChain.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/MockChain/PoWMockChain.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractNodeBuilder.cs
Labels: Integration/Unit Test, improvement

#2613 [Integration Tests] Added second interceptor test for node disconnects
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerInterceptorTests.cs
Labels: Integration/Unit Test, Test Coverage

#2626 Added an endpoint to get spendable transactions
  src/Stratis.Bitcoin.Features.Wallet/Controllers/WalletController.cs
  src/Stratis.Bitcoin.Features.Wallet/Models/RequestModels.cs
  src/Stratis.Bitcoin.Features.Wallet/Models/SpendableTransactionsModel.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/Data/wallet-with-funds.wallet.json
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletPostOperationsTests.cs
Labels: wallet

#2645 [Consensus] Fix ConnectBlockResult null reference
  src/Stratis.Bitcoin.Features.BlockStore.Tests/BlockStoreTests.cs
  src/Stratis.Bitcoin/Consensus/ConsensusManager.cs
Labels: bug

#2609 [PH] SendProvenHeaders on handshake
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreBehavior.cs
  src/Stratis.Bitcoin.Features.BlockStore/ProvenHeadersBlockStoreBehavior.cs
  src/Stratis.Bitcoin.Features.Consensus/PosConsensusFeature.cs
  src/Stratis.Bitcoin/Base/BaseFeature.cs
  src/Stratis.Bitcoin/Connection/ConnectionManager.cs
  src/Stratis.Bitcoin/Connection/ConnectionManagerBehavior.cs
  src/Stratis.Bitcoin/Connection/ProvenHeadersConnectionManagerBehavior.cs
  src/Stratis.Bitcoin/P2P/Peer/NetworkPeer.cs
  src/Stratis.Bitcoin/P2P/PeerConnector.cs
  src/Stratis.Bitcoin/P2P/PeerDiscoveryLoop.cs
  src/Stratis.Bitcoin/P2P/Protocol/Payloads/SendProvenHeadersPayload.cs
Labels: ProvenHeaders
