Repository stratisproject/StratisBitcoinFullNode, pull requests merged in 2018-09, with the labels that each got.

#2076 [SC] Block buffer for generated transactions
  src/Stratis.Bitcoin.Features.Miner/BlockDefinition.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/BlockBufferGeneratorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/BlockBufferGenerator.cs
  src/Stratis.Bitcoin.Features.SmartContracts/IBlockBufferGenerator.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractBlockDefinition.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractFeature.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractPosPowBlockDefinition.cs
  src/Stratis.Bitcoin.IntegrationTests/SmartContracts/SmartContractMinerTests.cs
Labels: smart-contracts

#2081 [Activation] Remove block mined from context
  src/Stratis.Bitcoin.Features.BlockStore.Tests/BlockStoreTests.cs
  src/Stratis.Bitcoin.Features.Consensus.Tests/Rules/CommonRules/CalculateStakeRuleTest.cs
  src/Stratis.Bitcoin.Features.Consensus.Tests/Rules/CommonRules/CalculateWorkRuleTest.cs
  src/Stratis.Bitcoin.Features.Consensus.Tests/TestChainFactory.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/BlockMerkleRootRule.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/CheckDifficultyPowRule.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/CheckDifficultykHybridRule.cs
  src/Stratis.Bitcoin.Features.MemoryPool.Tests/TestChainFactory.cs
  src/Stratis.Bitcoin.IntegrationTests/MinerTests.cs
  src/Stratis.Bitcoin.Tests/Consensus/ConsensusTestContext.cs
  src/Stratis.Bitcoin/Consensus/Rules/RuleContext.cs
Labels: Activation

#2102 [Activation] Smart contract integration tests PASS
  src/Stratis.Bitcoin.Features.SmartContracts/Consensus/Rules/SmartContractCoinviewRule.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/GenerateCoinsFastDateTimeProvider.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/MockChain/MockChainNode.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingStakedCoinsBeforeMaturity_Steps.cs
Labels: Activation

#2079 [Activation] Fix TxMempoolBlockDoublespend
  src/Stratis.Bitcoin.IntegrationTests.Common/Extensions/CoreNodeExtensions.cs
  src/Stratis.Bitcoin.IntegrationTests/Mempool/MemoryPoolTests.cs
  src/Stratis.Bitcoin.Tests/Base/ConsensusManagerBehaviorTests.cs
  src/Stratis.Bitcoin/Consensus/ChainedHeaderTree.cs
  src/Stratis.Bitcoin/Consensus/ConsensusErrors.cs
  src/Stratis.Bitcoin/Consensus/ConsensusExceptions.cs
  src/Stratis.Bitcoin/Consensus/ConsensusManagerBehavior.cs
Labels: Activation

#2104 [Activation] block puller peers speed estimation
  src/Stratis.Bitcoin.Tests/BlockPulling/BlockPullerBehaviorTests.cs
  src/Stratis.Bitcoin.Tests/BlockPulling/BlockPullerTests.cs
  src/Stratis.Bitcoin.Tests/BlockPulling/BlockPullerTestsHelper.cs
  src/Stratis.Bitcoin/Base/BaseFeature.cs
  src/Stratis.Bitcoin/BlockPulling/BlockPuller.cs
  src/Stratis.Bitcoin/BlockPulling/BlockPullerBehavior.cs
Labels: Activation

#2096 Disconnect peers that send large locators
  src/NBitcoin/BlockLocator.cs
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreBehavior.cs
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreFeature.cs
  src/Stratis.Bitcoin/Consensus/ConsensusManagerBehavior.cs
Labels: pr-review-medium

#2110 [Activation] Fix Given_NodesAreSynced_When_ABigReorgHappens_Then_TheReorgIsIgnored
  src/Stratis.Bitcoin.Features.Consensus.Tests/Rules/CommonRules/CalculateStakeRuleTest.cs
  src/Stratis.Bitcoin.Features.Consensus.Tests/Rules/CommonRules/RulesRegistrationOrderTest.cs
  src/Stratis.Bitcoin.Features.Consensus/ConsensusFeature.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/CheckDifficultyHybridRule.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/PosCoinviewRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractPosRuleRegistration.cs
  src/Stratis.Bitcoin.IntegrationTests/NodeSyncTests.cs
  src/Stratis.Bitcoin/Consensus/ChainedHeaderTree.cs
  src/Stratis.Bitcoin/Consensus/ConsensusManager.cs
Labels: Activation

#2109 [SC] No P2PKH to contracts
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/P2PKHNotContractRuleTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Consensus/Rules/P2PKHNotContractRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractMempoolValidator.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractPosRuleRegistration.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractPowRuleRegistration.cs
  src/Stratis.Bitcoin.IntegrationTests/SmartContracts/SmartContractMemoryPoolTests.cs
Labels: smart-contracts

#2077 [SC] Introduce State object
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractExecutorTestContext.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ExecutorSpecification.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/GasInjectorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ReflectionVirtualMachineTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContractExceptionTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContractExecutorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContracts/StorageTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContracts/StorageTestWithParameters.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractFeature.cs
  src/Stratis.Bitcoin.IntegrationTests/SmartContracts/CallContract.cs
  src/Stratis.Bitcoin.IntegrationTests/SmartContracts/SmartContractMinerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/SmartContracts/SmartContractWalletOnPosNetworkTests.cs
  src/Stratis.Bitcoin.IntegrationTests/SmartContracts/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.Core/ISmartContractExecutorFactory.cs
  src/Stratis.SmartContracts.Core/State/AccountAbstractionLayer/TransactionCondenser.cs
  src/Stratis.SmartContracts.Executor.Reflection/BalanceState.cs
  src/Stratis.SmartContracts.Executor.Reflection/BaseMessage.cs
  src/Stratis.SmartContracts.Executor.Reflection/CallData.cs
  src/Stratis.SmartContracts.Executor.Reflection/CallMessage.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractLogging/ContractLogHolder.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractLogging/IContractLogHolder.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractTransferMessage.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractTxData.cs
  src/Stratis.SmartContracts.Executor.Reflection/CreateData.cs
  src/Stratis.SmartContracts.Executor.Reflection/Executor.cs
  src/Stratis.SmartContracts.Executor.Reflection/ExternalCallMessage.cs
  src/Stratis.SmartContracts.Executor.Reflection/ExternalCreateMessage.cs
  src/Stratis.SmartContracts.Executor.Reflection/ISmartContractResultTransferProcessor.cs
  src/Stratis.SmartContracts.Executor.Reflection/ISmartContractVirtualMachine.cs
  src/Stratis.SmartContracts.Executor.Reflection/IState.cs
  src/Stratis.SmartContracts.Executor.Reflection/IStateFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/InternalCallMessage.cs
  src/Stratis.SmartContracts.Executor.Reflection/InternalCreateMessage.cs
  src/Stratis.SmartContracts.Executor.Reflection/InternalTransactionExecutor.cs
  src/Stratis.SmartContracts.Executor.Reflection/InternalTransactionExecutorFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/PersistentState.cs
  src/Stratis.SmartContracts.Executor.Reflection/ReflectionSmartContractExecutorFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/ReflectionVirtualMachine.cs
  src/Stratis.SmartContracts.Executor.Reflection/SmartContractResultTransferProcessor.cs
  src/Stratis.SmartContracts.Executor.Reflection/State.cs
  src/Stratis.SmartContracts.Executor.Reflection/StateFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/StateTransitionResult.cs
  src/Stratis.SmartContracts.Executor.Reflection/VmExecutionResult.cs
  src/Stratis.SmartContracts.Tools.Sct/ValidatorService.cs
Labels: smart-contracts

#2112 [SC] Minor refactors to staterepository.
  src/Stratis.SmartContracts.Core/State/AbstractCachedSource.cs
  src/Stratis.SmartContracts.Core/State/AbstractChainedSource.cs
  src/Stratis.SmartContracts.Core/State/ContractState.cs
  src/Stratis.SmartContracts.Core/State/ContractStateRoot.cs
  src/Stratis.SmartContracts.Core/State/ICachedSource.cs
  src/Stratis.SmartContracts.Core/State/IMemSizeEstimator.cs
  src/Stratis.SmartContracts.Core/State/MultiCache.cs
  src/Stratis.SmartContracts.Core/State/MultiStorageCache.cs
  src/Stratis.SmartContracts.Core/State/NoDeleteSource.cs
  src/Stratis.SmartContracts.Core/State/ReadCache.cs
  src/Stratis.SmartContracts.Core/State/ReadWriteCache.cs
  src/Stratis.SmartContracts.Core/State/SourceChainBox.cs
  src/Stratis.SmartContracts.Core/State/SourceCodec.cs
  src/Stratis.SmartContracts.Core/State/StorageCache.cs
  src/Stratis.SmartContracts.Core/State/WriteCache.cs
Labels: smart-contracts

#2107 [SC] Index for logs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractLogHolderTests.cs
  src/Stratis.Bitcoin.IntegrationTests/SmartContracts/Auction.cs
  src/Stratis.Bitcoin.IntegrationTests/SmartContracts/ContractCreation.cs
  src/Stratis.Bitcoin.IntegrationTests/SmartContracts/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractLogging/RawLog.cs
  src/Stratis.SmartContracts/DeployAttribute.cs
  src/Stratis.SmartContracts/IndexAttribute.cs
Labels: smart-contracts

#2118 [SC] Closes #2117 serializer field not set on contract
  src/Stratis.SmartContracts.Executor.Reflection/Contract.cs
Labels: smart-contracts

#2100 [SC] Tests for all scenarios of TransactionCondensing
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContractResultTransferProcessorTests.cs
  src/Stratis.SmartContracts.Core/State/AccountAbstractionLayer/TransactionCondenser.cs
Labels: smart-contracts

#2123 Remove builders
  src/Stratis.Bitcoin.IntegrationTests.Common/Builders/NodeConnectionBuilder.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Builders/NodeGroupBuilder.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/CoreNode.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/NodeBuilder.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/BitcoinCoreRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/CustomRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/NodeRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisBitcoinPosRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisBitcoinPowApiRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisBitcoinPowRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisPosApiRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisSmartContractNode.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisSmartContractPosNode.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
  src/Stratis.Bitcoin.IntegrationTests/API/ApiSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/ProofOfWorkSpendingSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/ReorgToLongestChainSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/NodeSyncTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ProofOfStakeSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingStakedCoinsBeforeMaturity_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingToAndFromManyAddressesSpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingTransactionOverPolicyByteLimitSpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletAddressGenerationAndFundsVisibility_Steps.cs
Labels: Activation

#2128 [Activation] Fix MempoolReceiveFromManyNodes
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/CoreNode.cs
Labels: Activation

#2133 [Activation] BP periodic log bugfix
  src/Stratis.Bitcoin/BlockPulling/BlockPuller.cs
Labels: Activation

#2137 initialize the fileStorage for peers only once in the ctor
  src/Stratis.Bitcoin/P2P/PeerAddressManager.cs
Labels: Activation

#2135 [SC] State transition error improvements
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ExecutorSpecification.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContractExecutorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContractResultRefundProcessorTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/Executor.cs
  src/Stratis.SmartContracts.Executor.Reflection/ISmartContractResultRefundProcessor.cs
  src/Stratis.SmartContracts.Executor.Reflection/InternalTransactionExecutor.cs
  src/Stratis.SmartContracts.Executor.Reflection/SmartContractExecutionResult.cs
  src/Stratis.SmartContracts.Executor.Reflection/SmartContractResultRefundProcessor.cs
  src/Stratis.SmartContracts.Executor.Reflection/State.cs
  src/Stratis.SmartContracts.Executor.Reflection/StateTransitionResult.cs
  src/Stratis.SmartContracts.Executor.Reflection/TransferResult.cs
Labels: smart-contracts

#2159 [Activation] block puller behavior stack overflow bugfix
  src/Stratis.Bitcoin.Tests/BlockPulling/BlockPullerBehaviorTests.cs
  src/Stratis.Bitcoin.Tests/BlockPulling/BlockPullerTests.cs
  src/Stratis.Bitcoin.Tests/BlockPulling/BlockPullerTestsHelper.cs
  src/Stratis.Bitcoin/BlockPulling/BlockPuller.cs
  src/Stratis.Bitcoin/BlockPulling/BlockPullerBehavior.cs
Labels: Activation

#2156 [SC] New determinism validator and test for multidimensional arrays
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/DeterminismValidationTests.cs
  src/Stratis.SmartContracts.Core.Validation/FormatPolicy.cs
  src/Stratis.SmartContracts.Core.Validation/ValidationPolicy.cs
  src/Stratis.SmartContracts.Core.Validation/Validators/Instruction/MultiDimensionalArrayValidator.cs
Labels: smart-contracts

#2179 [SC] Fix smart contract daemon version
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractFeature.cs
Labels: smart-contracts

#2198 [SC] State transition improvements
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractExecutorTestContext.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ExecutorSpecification.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ReflectionExtensions.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContractExecutorTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/StateTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/StateTransitionSpecification.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractFeature.cs
  src/Stratis.Bitcoin.IntegrationTests/SmartContracts/SmartContractMinerTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/BalanceState.cs
  src/Stratis.SmartContracts.Executor.Reflection/Executor.cs
  src/Stratis.SmartContracts.Executor.Reflection/IInternalTransactionExecutorFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/ISmartContractStateFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/IState.cs
  src/Stratis.SmartContracts.Executor.Reflection/IStateFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/IStateProcessor.cs
  src/Stratis.SmartContracts.Executor.Reflection/InternalTransactionExecutor.cs
  src/Stratis.SmartContracts.Executor.Reflection/InternalTransactionExecutorFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/ReflectionSmartContractExecutorFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/SmartContractStateFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/State.cs
  src/Stratis.SmartContracts.Executor.Reflection/StateFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/StateProcessor.cs
Labels: smart-contracts

#2181 [PH] WIP - New proven header structure part 1
  src/NBitcoin.Tests/ConstructorsForSerializableClassesTest.cs
  src/NBitcoin.Tests/ProvenBlockHeaderTests.cs
  src/NBitcoin/BlockStake.cs
  src/NBitcoin/ProvenBlockHeader.cs
Labels: pr-review-medium

#2203 CM bugfix
  src/Stratis.Bitcoin/Consensus/ConsensusManager.cs
Labels: pr-review-high

#2204 Register Network if passed in to NodeSettings
  src/Stratis.Bitcoin/Configuration/NodeSettings.cs
  src/Stratis.StratisSmartContractsD/Program.cs
Labels: pr-review-medium

#2201 Make CheckDifficultyHybridRule a full validation rule
  src/Stratis.Bitcoin.Features.Consensus.Tests/Rules/CommonRules/PosTimeMaskRuleTest.cs
  src/Stratis.Bitcoin.Features.Consensus.Tests/Rules/CommonRules/RulesRegistrationOrderTest.cs
  src/Stratis.Bitcoin.Features.Consensus/ConsensusFeature.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/CheckDifficultyHybridRule.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/PosTimeMaskRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractPosRuleRegistration.cs
Labels: pr-review-high

#2197 [SC] Memory tracking via RuntimeObserver
  src/RuntimeObserver/MemoryConsumptionException.cs
  src/RuntimeObserver/Observer.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/DeterminismValidationTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ObserverTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContracts/MemoryLimit.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Stratis.Bitcoin.Features.SmartContracts.Tests.csproj
  src/Stratis.SmartContracts.Executor.Reflection/Contract.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractInvocationErrorType.cs
  src/Stratis.SmartContracts.Executor.Reflection/ILRewrite/CecilExtensions.cs
  src/Stratis.SmartContracts.Executor.Reflection/ILRewrite/GasInjectorRewriter.cs
  src/Stratis.SmartContracts.Executor.Reflection/ILRewrite/IObserverMethodRewriter.cs
  src/Stratis.SmartContracts.Executor.Reflection/ILRewrite/MemoryLimitRewriter.cs
  src/Stratis.SmartContracts.Executor.Reflection/ILRewrite/ObserverReferences.cs
  src/Stratis.SmartContracts.Executor.Reflection/ILRewrite/ObserverRewriter.cs
  src/Stratis.SmartContracts.Executor.Reflection/ILRewrite/ObserverRewriterContext.cs
  src/Stratis.SmartContracts.Executor.Reflection/ReflectionVirtualMachine.cs
Labels: smart-contracts

#2209 [SC] Cost for storage retrieval
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/GasPriceListTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ObserverTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContractExecutorTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/GasPriceList.cs
  src/Stratis.SmartContracts.Executor.Reflection/MeteredPersistenceStrategy.cs
Labels: smart-contracts

#2220 [SC] Logs gas cost
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/GasPriceListTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractLogging/MeteredContractLogger.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractLogging/RawLog.cs
  src/Stratis.SmartContracts.Executor.Reflection/GasPriceList.cs
  src/Stratis.SmartContracts.Executor.Reflection/SmartContractStateFactory.cs
Labels: smart-contracts

#2221 [SC] Tests around Nullable Types
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractPrimitiveSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/DeterminismValidationTests.cs
Labels: smart-contracts

#2223 Fix partial validation sequence when a fork occurs
  src/NBitcoin/Consensus.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerTests.cs
  src/Stratis.Bitcoin/BlockPulling/BlockPuller.cs
  src/Stratis.Bitcoin/Consensus/ConsensusManager.cs
Labels: pr-review-high

#2225 [Integration Tests] Small mining setup optimization
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/CoreNode.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
Labels: pr-review-low

#2231 [Fix] BlockPullerBehavior SpeedBytesPerSecond can be negative sometimes
  src/Stratis.Bitcoin/BlockPulling/BlockPullerBehavior.cs
Labels: pr-review-low

#2232 [SC] Store arrays in PersistentState
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractPrimitiveSerializerTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/ContractPrimitiveSerializer.cs
Labels: smart-contracts

#2207 Fix BlockStoreQueue race condition
  src/Stratis.Bitcoin.Features.BlockStore.Tests/BlockStoreBehaviorTest.cs
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreBehavior.cs
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreFeature.cs
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreQueue.cs
  src/Stratis.Bitcoin/Consensus/ConsensusManager.cs
  src/Stratis.Bitcoin/Consensus/IConsensusManager.cs
  src/Stratis.Bitcoin/Interfaces/IBlockStoreQueue.cs
Labels: pr-review-high

#2252 [SC] Integration test improvements
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractCompilerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/DeterminismErrorMessageTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/DeterminismValidationTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/FormatValidationTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ObserverTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Receipts/ReceiptSerializationTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Wallet/SmartContractWalletController.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Models/ReceiptResponse.cs
  src/Stratis.SmartContracts.Core.Validation.Tests/SmartContractDeterminismValidatorTests.cs
  src/Stratis.SmartContracts.Core/Receipts/Receipt.cs
  src/Stratis.SmartContracts.Executor.Reflection/CallDataSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/Compilation/ContractDecompiler.cs
  src/Stratis.SmartContracts.Executor.Reflection/Compilation/ContractModuleDefinitionReader.cs
  src/Stratis.SmartContracts.Executor.Reflection/Compilation/IContractModuleDefinitionReader.cs
  src/Stratis.SmartContracts.Executor.Reflection/ReflectionVirtualMachine.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractCreationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/Chain.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/MockChainFixture.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/Node.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/ExceptionInConstructor.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/NonDeterministicContract.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
  src/Stratis.SmartContracts.Tools.Sct/Validation/Validator.cs
  src/Stratis.SmartContracts.Tools.Sct/ValidatorService.cs
Labels: smart-contracts

#2256 [SC] Add remaining Executor specification tests
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ExecutorFixture.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ExecutorSpecification.cs
Labels: smart-contracts

#2240 [Integration Tests] CM coverage for InvalidStakeDepth and MaxReorgViolation
  src/Stratis.Bitcoin.Features.Consensus/StakeValidator.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerTests.cs
Labels: pr-review-medium

#2239 [Integration Tests] Wallet and Mining clean up
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/CoreNode.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Extensions/FullNodeExtensions.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/BitcoinCoreRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
  src/Stratis.Bitcoin.IntegrationTests/API/ApiSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/BlockStoreTests.cs
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/ProofOfWorkSpendingSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/ReorgToLongestChainSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/RetrieveFromBlockStoreSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/CoinViewTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Mempool/MemoryPoolTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Mempool/MempoolRelaySpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/MinerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/NodeSyncTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Program.cs
  src/Stratis.Bitcoin.IntegrationTests/ProofOfStakeSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/Transactions/TransactionWithNullDataSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingStakedCoinsBeforeMaturity_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingToAndFromManyAddressesSpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingTransactionOverPolicyByteLimitSpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingTxWithDoubleSpendSpecification_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletAddressGenerationAndFundsVisibility_Steps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletTests.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractCreationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/Node.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractMemoryPoolTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletOnPosNetworkTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletTests.cs
Labels: pr-review-low

#2261 Implement decoderawtransaction API and RPC calls
  src/Stratis.Bitcoin.Features.RPC/Controllers/FullNodeController.cs
  src/Stratis.Bitcoin.Tests/Controllers/NodeControllerTest.cs
  src/Stratis.Bitcoin/Controllers/Models/DecodeRawTransactionModel.cs
  src/Stratis.Bitcoin/Controllers/NodeController.cs
Labels: low priority, pr-review-low

#2270 [SC] Integration test when contract doesn't exist.
  src/Stratis.SmartContracts.Executor.Reflection/StateTransitionErrors.cs
  src/Stratis.SmartContracts.Executor.Reflection/StateTransitionResult.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractCreationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/ExceptionInConstructor.cs
Labels: smart-contracts

#2280 [SC] Contract Invocation errors and method not existing on contract int test
  src/Stratis.SmartContracts.Executor.Reflection/ContractInvocationErrors.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractInvocationResult.cs
  src/Stratis.SmartContracts.Executor.Reflection/StateTransitionErrors.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/EmptyContract.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#2285 [SC] Fix specifications with GetErrorMessage()
  src/Stratis.SmartContracts.Executor.Reflection/ContractExecutor.cs
  src/Stratis.SmartContracts.Executor.Reflection/StateTransitionResult.cs
Labels: smart-contracts

#2286 [SC] MineBlocks fix for MockChain tests
  src/Stratis.SmartContracts.IntegrationTests/ContractCreationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractWalletTests.cs
Labels: smart-contracts

#2282 [SC] Add internal executor specification tests
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/InternalExecutorSpecification.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/InternalExecutorTestFixture.cs
  src/Stratis.SmartContracts.Executor.Reflection/InternalExecutor.cs
Labels: smart-contracts

#2289 [SC] Fix mempool op spend rule and stop using ToOps
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContractScriptTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Consensus/Rules/MempoolOpSpendRule.cs
  src/Stratis.SmartContracts.Core/SmartContractScript.cs
Labels: smart-contracts

#2284 [SC] Blacklist new object creation
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/FormatValidationTests.cs
  src/Stratis.SmartContracts.Core.Validation.Tests/SmartContractDeterminismValidatorTests.cs
  src/Stratis.SmartContracts.Core.Validation/FormatPolicy.cs
  src/Stratis.SmartContracts.Core.Validation/Validators/Instruction/NewObjValidator.cs
Labels: smart-contracts

#2290 [SC] Integration tests for basic transfer scenarios
  src/Stratis.SmartContracts.Core/State/AccountAbstractionLayer/TransactionCondenser.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/BasicReceive.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/BasicTransfer.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/TransferFromConstructor.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts
