Repository stratisproject/StratisBitcoinFullNode, pull requests merged in 2018-11, with the labels that each got.

#2624 Added an address book
  src/Stratis.Bitcoin.Features.Wallet/AddressBook.cs
  src/Stratis.Bitcoin.Features.Wallet/AddressBookException.cs
  src/Stratis.Bitcoin.Features.Wallet/AddressBookManager.cs
  src/Stratis.Bitcoin.Features.Wallet/Controllers/AddressBookController.cs
  src/Stratis.Bitcoin.Features.Wallet/Interfaces/IAddressBookManager.cs
  src/Stratis.Bitcoin.Features.Wallet/Models/AddressBookModel.cs
  src/Stratis.Bitcoin.Features.Wallet/Models/RequestModels.cs
  src/Stratis.Bitcoin.Features.Wallet/WalletFeature.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/AddressBookTests.cs
Labels: wallet

#2658 [SC] New PoA network
  src/Stratis.SmartContracts.Networks/SmartContractsPoATest.cs
  src/Stratis.StratisSmartContractsD/Program.cs
Labels: smart-contracts

#2661 Make sure we send an inv message to downloaders needing more blocks.
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreBehavior.cs
Labels: pr-review-high

#2611 Block announcement from legacy nodes
  src/Stratis.Bitcoin/Consensus/ConsensusManagerBehavior.cs
Labels: pr-review-high

#2650 [SC] API for running contract methods locally
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractModuleDefinitionTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ExecutorFixture.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/LocalExecutorSpecification.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/SmartContractsController.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractFeature.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractModuleDefinition.cs
  src/Stratis.SmartContracts.Executor.Reflection/IContractModuleDefinition.cs
  src/Stratis.SmartContracts.Executor.Reflection/Local/ILocalExecutionResult.cs
  src/Stratis.SmartContracts.Executor.Reflection/Local/LocalExecutionResult.cs
  src/Stratis.SmartContracts.Executor.Reflection/Local/LocalExecutor.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/StorageDemo.cs
  src/Stratis.SmartContracts/Address.cs
Labels: smart-contracts

#2657 [SC] Poa execution failure tests
  src/Stratis.SmartContracts.IntegrationTests/PoA/ContractExecutionFailureTests.cs
Labels: smart-contracts

#2671 [SC] Fix storage Type enum in controller
  src/Stratis.Bitcoin.Features.SmartContracts/Models/GetStorageRequest.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/SmartContractsController.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterStringSerializer.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
Labels: smart-contracts

#2670 [SC] Method param string deserialization should expect base58 encoded Address
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/MethodParameterByteSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/MethodParameterStringSerializerTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterStringSerializer.cs
  src/Stratis.SmartContracts.IntegrationTests/PoA/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractParameterSerializationTests.cs
  src/Stratis.SmartContracts.Tools.Sct/ValidatorService.cs
Labels: smart-contracts

#2617 [Integration Tests] Additional stratisX tests
  src/Stratis.Bitcoin.IntegrationTests/Compatibility/StratisXTests.cs
Labels: Test Coverage

#2678 [Consensus] Add BlockValidationState to ChainedHeader ToString()
  src/NBitcoin/ChainedHeader.cs
  src/Stratis.Bitcoin/Consensus/ChainedHeaderTree.cs
  src/Stratis.Bitcoin/Consensus/ConsensusManager.cs
Labels: improvement

#2677 Multiple recipients
  src/Stratis.Bitcoin.Features.Wallet.Tests/WalletControllerTest.cs
  src/Stratis.Bitcoin.Features.Wallet/Controllers/WalletController.cs
  src/Stratis.Bitcoin.Features.Wallet/Models/RequestModels.cs
  src/Stratis.Bitcoin.IntegrationTests/API/ApiSteps.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/SendingStakedCoinsBeforeMaturity_Steps.cs
Labels: wallet

#2694 [SC] Allow multisig through SC network
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/AllowedScriptTypeRuleTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/AllowedScriptTypeRule.cs
Labels: smart-contracts

#2695 [SC] Fix integration test
  src/Stratis.SmartContracts.IntegrationTests/PoA/ContractExecutionFailureTests.cs
Labels: smart-contracts

#2643 [Integration Test] Various Improvements
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisBitcoinPowRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/TestNetworks/BitcoinRegTestNoValidationRules.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerFailedReorgTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerInterceptorTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: Integration/Unit Test

#2708 [SC] Query smart contract block header fields by interface
  src/Stratis.Bitcoin.Features.SmartContracts/ISmartContractBlockHeader.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoS/SmartContractPosPowBlockDefinition.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/SmartContractsController.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/SmartContractCoinviewRule.cs
Labels: smart-contracts

#2719 [SC] Fix list of allowed method param types
  src/Stratis.SmartContracts.Core.Validation/Validators/Method/MethodParamValidator.cs
Labels: smart-contracts

#2713 [Integration Tests] Optimise Smart Contract Tests
  src/Stratis.SmartContracts.IntegrationTests/MockChain/IMockChain.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/MockChainNode.cs
  src/Stratis.SmartContracts.IntegrationTests/PoA/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoA/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoA/MockChain/PoAMockChain.cs
  src/Stratis.SmartContracts.IntegrationTests/PoA/MockChain/PoAMockChainFixture.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractCreationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractParameterSerializationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/MockChain/PoWMockChain.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/MockChain/PoWMockChainFixture.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContractNodeBuilder.cs
Labels: Integration/Unit Test, smart-contracts

#2717 [SC] Don't validate null refund
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/SmartContractCoinviewRule.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/InfiniteLoop.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#2722 [SC] Fix method param string serialization for Address
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/MethodParameterStringSerializerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/SmartContractsController.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterStringSerializer.cs
Labels: smart-contracts

#2738 [Documentation] CLR execution and validation
  Documentation/clr-execution-and-validation.md
Labels: smart-contracts

#2747 [SC] Generic Validation
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/DeterminismValidationTests.cs
  src/Stratis.SmartContracts.Core.Validation/FormatPolicy.cs
  src/Stratis.SmartContracts.Core.Validation/Validators/Method/GenericMethodValidator.cs
  src/Stratis.SmartContracts.Core.Validation/Validators/Type/GenericTypeValidator.cs
Labels: smart-contracts

#2746 [SC] Wallet API Part 2
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Controllers/SmartContractWalletControllerTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/SmartContractsController.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Wallet/ContractTransactionItem.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Wallet/ISmartContractTransactionService.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Wallet/SmartContractTransactionService.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Wallet/SmartContractWalletController.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Wallet/SmartContractWalletFeature.cs
Labels: smart-contracts

#2751 [SC] Remove xunit from SC feature
  src/Stratis.Bitcoin.Features.SmartContracts/Stratis.Bitcoin.Features.SmartContracts.csproj
Labels: smart-contracts

#2749 [SC] Memory limit integration test
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/MemoryConsumingContract.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#2702 Added pagination and search to History
  src/Stratis.Bitcoin.Features.Wallet/Controllers/WalletController.cs
  src/Stratis.Bitcoin.Features.Wallet/Models/RequestModels.cs
Labels: wallet

#2709 [Integration Test] Make WalletCanMineWithColdWalletCoins more reliable
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/ColdWalletTests.cs
Labels: Integration/Unit Test

#2726 Wallet: skip processing of transactions with 0 in output
  src/Stratis.Bitcoin.Features.Wallet/WalletManager.cs
Labels: wallet

#2740 Coin control baby 🤖
  src/NBitcoin/TransactionBuilder.cs
  src/Stratis.Bitcoin.Features.Wallet/Controllers/WalletController.cs
  src/Stratis.Bitcoin.Features.Wallet/Models/RequestModels.cs
  src/Stratis.Bitcoin.Features.Wallet/Models/SpendableTransactionsModel.cs
  src/Stratis.Bitcoin.Features.Wallet/Models/WalletBuildTransactionModel.cs
  src/Stratis.Bitcoin.Features.Wallet/WalletTransactionHandler.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletOperationsTests.cs
Labels: wallet

#2765 [SC] Serializer changes
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SerializerTests.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/Serializer.cs
  src/Stratis.SmartContracts/ISerializer.cs
Labels: smart-contracts

#2636 Add optional callback for message sending
  src/Stratis.Bitcoin/P2P/Peer/NetworkPeer.cs
  src/Stratis.Bitcoin/P2P/Peer/NetworkPeerFactory.cs
Labels: feature, low priority

#2767 [SC] Shared CoinViewRule logic
  src/Stratis.Bitcoin.Features.SmartContracts/PoA/Rules/SmartContractPoACoinviewRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/SmartContractCoinViewRuleLogic.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/SmartContractCoinviewRule.cs
Labels: smart-contracts

#2757 [SC] Lottery MockChain integration test, uses keccak
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/Lottery.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#2759 [SC] Non-Fungible Token and MockChain tests
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/IMethodParameterStringSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterStringSerializer.cs
  src/Stratis.SmartContracts.IntegrationTests/MockChain/MockChainNode.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/NonFungibleToken.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#2739 [SC] Gas limit per block
  src/Stratis.Bitcoin.Features.SmartContracts/PoW/SmartContractBlockDefinition.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#2794 [SC] Fixing TODOs
  src/Stratis.Bitcoin.Features.SmartContracts/PoA/SmartContractPoARuleRegistration.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoS/SmartContractPosRuleRegistration.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoW/SmartContractPowRuleRegistration.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Consensus/Rules/SmartContractFormatRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/AllowedScriptTypeRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/P2PKHNotContractRule.cs
  src/Stratis.SmartContracts.Executor.Reflection/IContractExecutionContext.cs
  src/Stratis.SmartContracts.Executor.Reflection/ResultProcessors/ContractTransferProcessor.cs
  src/Stratis.SmartContracts.Executor.Reflection/SmartContractExecutionContext.cs
Labels: smart-contracts

#2786 [P2P] Amend peer banning to ban peers regardless of port
  src/Stratis.Bitcoin.Features.Consensus.Tests/PeerBanningTest.cs
  src/Stratis.Bitcoin.Features.RPC.Tests/Controller/FullNodeControllerTest.cs
  src/Stratis.Bitcoin.Features.Wallet.Tests/WalletControllerTest.cs
  src/Stratis.Bitcoin.Tests/Controllers/NodeControllerTest.cs
  src/Stratis.Bitcoin/Connection/ConnectionManager.cs
  src/Stratis.Bitcoin/Connection/PeerBanning.cs
  src/Stratis.Bitcoin/P2P/IPeerAddressManager.cs
  src/Stratis.Bitcoin/P2P/Peer/NetworkPeerCollection.cs
  src/Stratis.Bitcoin/P2P/PeerAddressManager.cs
  src/Stratis.Bitcoin/Utilities/Extensions/IPExtensions.cs
Labels: improvement

#2796 [SC] Remove unused code
  src/Stratis.Bitcoin.Features.SmartContracts/ISmartContractBlockHeader.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Models/BuildContractTransactionResponse.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoA/IFullNodeBuilderExtensions.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoS/IFullNodeBuilderExtensions.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoS/SmartContractPosRuleRegistration.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoW/IFullNodeBuilderExtensions.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Consensus/Rules/SmartContractFormatRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/SmartContractCoinViewRuleLogic.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractFeature.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractVersionProvider.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Wallet/ContractTransactionItemType.cs
  src/Stratis.Bitcoin.Features.SmartContracts/WalletExtensions.cs
  src/Stratis.SmartContracts.Core.Validation/Validators/Method/GenericMethodValidator.cs
  src/Stratis.SmartContracts.Core.Validation/Validators/Method/MethodParamValidator.cs
  src/Stratis.SmartContracts.Core.Validation/Validators/Module/ContractToDeployValidator.cs
  src/Stratis.SmartContracts.Core.Validation/Validators/Type/FieldDefinitionValidator.cs
  src/Stratis.SmartContracts.Core.Validation/Validators/Type/GenericTypeValidator.cs
  src/Stratis.SmartContracts.Core.Validation/Validators/WhitelistValidator.cs
  src/Stratis.SmartContracts.Core/SmartContractScript.cs
  src/Stratis.SmartContracts.Core/State/CachedStorageCaches.cs
  src/Stratis.SmartContracts.Core/State/IStorageCaches.cs
  src/Stratis.SmartContracts.Core/State/RootStorageCaches.cs
  src/Stratis.SmartContracts.Core/Util/ISenderRetriever.cs
  src/Stratis.SmartContracts.Core/Util/SenderRetriever.cs
  src/Stratis.SmartContracts.Executor.Reflection/BalanceState.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractLogging/ContractLogHolder.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractLogging/MeteredContractLogger.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractLogging/RawLog.cs
  src/Stratis.SmartContracts.Executor.Reflection/ContractTxData.cs
  src/Stratis.SmartContracts.Executor.Reflection/Exceptions/ContractPrimitiveSerializationException.cs
  src/Stratis.SmartContracts.Executor.Reflection/Exceptions/DisallowedAssemblyReferenceException.cs
  src/Stratis.SmartContracts.Executor.Reflection/Exceptions/NonDeterministicCallException.cs
  src/Stratis.SmartContracts.Executor.Reflection/Exceptions/OutOfGasException.cs
  src/Stratis.SmartContracts.Executor.Reflection/Exceptions/RefundGasException.cs
  src/Stratis.SmartContracts.Executor.Reflection/Exceptions/SmartContractCarrierException.cs
  src/Stratis.SmartContracts.Executor.Reflection/Exceptions/SmartContractDoesNotExistException.cs
  src/Stratis.SmartContracts.Executor.Reflection/Exceptions/SpendGasException.cs
  src/Stratis.SmartContracts.Executor.Reflection/Exceptions/StratisCompilationException.cs
  src/Stratis.SmartContracts.Executor.Reflection/IBaseContractTransactionData.cs
  src/Stratis.SmartContracts.Executor.Reflection/ICallData.cs
  src/Stratis.SmartContracts.Executor.Reflection/IContractExecutionContext.cs
  src/Stratis.SmartContracts.Executor.Reflection/IContractModuleDefinition.cs
  src/Stratis.SmartContracts.Executor.Reflection/ICreateData.cs
  src/Stratis.SmartContracts.Executor.Reflection/ILRewrite/CodeSegment.cs
  src/Stratis.SmartContracts.Executor.Reflection/ILocalExecutor.cs
  src/Stratis.SmartContracts.Executor.Reflection/InternalExecutor.cs
  src/Stratis.SmartContracts.Executor.Reflection/NonceGenerator.cs
  src/Stratis.SmartContracts.Executor.Reflection/ReflectionExecutorFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/ReflectionVirtualMachine.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/ContractPrimitiveSerializer.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/Prefix.cs
  src/Stratis.SmartContracts.Executor.Reflection/SmartContractExecutionContext.cs
  src/Stratis.SmartContracts.Executor.Reflection/SmartContractExecutionResult.cs
  src/Stratis.SmartContracts.Executor.Reflection/SmartContractState.cs
  src/Stratis.SmartContracts.Executor.Reflection/SmartContractStateFactory.cs
  src/Stratis.SmartContracts.Executor.Reflection/TransferResult.cs
Labels: smart-contracts

#2802 [BlockStore / Consensus] Add check for node disposing
  src/Stratis.Bitcoin.Tests.Common/ConsensusManagerHelper.cs
  src/Stratis.Bitcoin/Consensus/ConsensusManager.cs
  src/Stratis.Bitcoin/Consensus/Validators/BlockValidator.cs
Labels: improvement

#2811 [SC] Send transactions using unconfirmed outputs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/ReflectionRuleRegistrationTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/P2PKHNotContractRuleTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ISmartContractCoinviewRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoA/SmartContractPoARuleEngine.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoS/SmartContractPosConsensusRuleEngine.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoW/SmartContractPowConsensusRuleEngine.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Consensus/Rules/SmartContractFormatRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/SmartContractCoinViewRuleLogic.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractConsensusErrors.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Wallet/SmartContractTransactionService.cs
  src/Stratis.Bitcoin.Features.SmartContracts/WalletExtensions.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractMinerTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
Labels: smart-contracts

#2819 [SC] Decompilation separate and basic scenarios tested
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/CSharpContractDecompilerTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/SmartContracts/ContractCreation.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Stratis.Bitcoin.Features.SmartContracts.Tests.csproj
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/SmartContractsController.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractFeature.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Stratis.Bitcoin.Features.SmartContracts.csproj
  src/Stratis.SmartContracts.Core.Validation/Stratis.SmartContracts.Core.Validation.csproj
  src/Stratis.SmartContracts.Core/Stratis.SmartContracts.Core.csproj
  src/Stratis.SmartContracts.Executor.Reflection/Decompilation/CSharpContractDecompiler.cs
  src/Stratis.SmartContracts.Executor.Reflection/Stratis.SmartContracts.Executor.Reflection.csproj
Labels: smart-contracts

#2799 [SC] Add method string parameter exception handling
  src/Stratis.Bitcoin.Features.SmartContracts/Wallet/SmartContractTransactionService.cs
  src/Stratis.SmartContracts.Executor.Reflection/Serialization/MethodParameterStringSerializer.cs
Labels: smart-contracts

#2184 Fix coinview rule 2
  src/Stratis.Bitcoin.Features.Consensus.Tests/Rules/CommonRules/PosCoinViewRuleTest.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/CoinviewRule.cs
Labels: pr-review-high

#2832 [SC] Add Standards library to contract execution
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractCompilerTests.cs
  src/Stratis.Bitcoin.FullNode.sln
  src/Stratis.SmartContracts.Core.Validation/FormatPolicy.cs
  src/Stratis.SmartContracts.Core.Validation/Stratis.SmartContracts.Core.Validation.csproj
  src/Stratis.SmartContracts.Executor.Reflection/Compilation/ReferencedAssemblyResolver.cs
  src/Stratis.SmartContracts.Executor.Reflection/Stratis.SmartContracts.Executor.Reflection.csproj
  src/Stratis.SmartContracts.IntegrationTests/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/SmartContracts/StandardToken.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
  src/Stratis.SmartContracts.Standards/IStandardToken.cs
  src/Stratis.SmartContracts.Standards/Stratis.SmartContracts.Standards.csproj
Labels: smart-contracts

#2843 SC POA Network Changes - 7 Nodes
  src/Stratis.SmartContracts.Networks/SmartContractsPoATest.cs
Labels: smart-contracts

#2844 [SC] Stratis.SmartContracts Version
  src/Stratis.SmartContracts/Stratis.SmartContracts.csproj
Labels: smart-contracts

#2817 Fix integration tests [Dont merge yet]
  src/Stratis.Bitcoin.Features.Consensus/Behaviors/ProvenHeadersReservedSlotsBehavior.cs
  src/Stratis.Bitcoin.Features.PoA.IntegrationTests.Common/PoANodeRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/CoreNode.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/NodeBuilder.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/PeerDiscoveryDisabled.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Extensions/OverrideServiceFeatureExtension.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/BitcoinCoreRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/CustomRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/NodeRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisBitcoinPosRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisBitcoinPowRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisXRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
  src/Stratis.Bitcoin.IntegrationTests/Compatibility/StratisXTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Connectivity/ConnectivityTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerFailedReorgTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/CustomNodeBuilderTests.cs
  src/Stratis.Bitcoin.IntegrationTests/NodeSyncTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/ColdWalletTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletTests.cs
  src/Stratis.Bitcoin.Tests/Utilities/MemoryCountCacheTest.cs
  src/Stratis.Bitcoin/P2P/PeerConnectorAddNode.cs
  src/Stratis.SmartContracts.Tests.Common/SmartContractPoARunner.cs
  src/Stratis.SmartContracts.Tests.Common/StratisSmartContractNode.cs
  src/Stratis.SmartContracts.Tests.Common/StratisSmartContractPosNode.cs
Labels: Integration/Unit Test
