Repository stratisproject/StratisBitcoinFullNode, pull requests merged in 2019-04, with the labels that each got.

#3452 [FS] Add more tests
  src/Stratis.Features.FederatedPeg.Tests/BlockTipModelTests.cs
  src/Stratis.Features.FederatedPeg.Tests/Chain_With_NetworkExtension_Shall.cs
  src/Stratis.Features.FederatedPeg.Tests/RestClientsTests/FederationGatewayClientTests.cs
Labels: SideChains

#3526 [POA] Ensure that the POA CMB is cloned
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreBehavior.cs
  src/Stratis.Bitcoin.Features.Consensus/Behaviors/ProvenHeadersConsensusManagerBehavior.cs
  src/Stratis.Bitcoin.Features.PoA/Behaviors/PoABlockStoreBehavior.cs
  src/Stratis.Bitcoin.Features.PoA/Behaviors/PoAConsensusManagerBehavior.cs
  src/Stratis.Bitcoin.Features.PoA/PoAFeature.cs
  src/Stratis.Bitcoin/Consensus/ConsensusManagerBehavior.cs
  src/Stratis.Bitcoin/P2P/Protocol/Payloads/PayloadAttribute.cs
Labels: bug

#3514 [Tests] Remove redundant tests
  src/Stratis.Bitcoin.Features.BlockStore.Tests/BlockRepositoryTests.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/BlockStoreSignaledTests.cs
  src/Stratis.Bitcoin.IntegrationTests/BlockStore/BlockStoreTests.cs
  src/Stratis.Bitcoin.IntegrationTests/CoinViewTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Connectivity/ConnectivityTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/LogLevelsTests.cs
  src/Stratis.Bitcoin.IntegrationTests/MinerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/NodeSyncTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletTests.cs
Labels: Integration/Unit Test

#3511 [SC] Add gas price and amount to receipt
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Controllers/SmartContractWalletControllerTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/SmartContractCoinViewRuleLogic.cs
  src/Stratis.SmartContracts.Core.Tests/Receipts/PersistentReceiptRepositoryTests.cs
  src/Stratis.SmartContracts.Core.Tests/Receipts/ReceiptSerializationTest.cs
  src/Stratis.SmartContracts.Core/Receipts/Receipt.cs
Labels: smart-contracts
