Repository stratisproject/StratisBitcoinFullNode, pull requests merged in 2019-01, with the labels that each got.

#2752 Implement corrective fixes to whitebind functionality with test support [UPD]
  src/Stratis.Bitcoin.Tests/Connection/ConnectionManagerTest.cs
  src/Stratis.Bitcoin/Configuration/Settings/ConnectionManagerSettings.cs
  src/Stratis.Bitcoin/P2P/Peer/NetworkPeerServer.cs
  src/Stratis.Bitcoin/Utilities/Extensions/IPExtensions.cs
Labels: UAT Issues

#3042 [ProvenHeaders] Remove same hash check
  src/Stratis.Bitcoin.Features.Consensus/ProvenBlockHeaders/ProvenBlockHeaderRepository.cs
  src/Stratis.Bitcoin/Consensus/ChainedHeaderTree.cs
Labels: improvement, pr-review-critical

#3046 [SC] Move standards to own repo
  src/Stratis.Bitcoin.FullNode.sln
  src/Stratis.SmartContracts.CLR.Validation/Stratis.SmartContracts.CLR.Validation.csproj
  src/Stratis.SmartContracts.CLR/Stratis.SmartContracts.CLR.csproj
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
  src/Stratis.SmartContracts.Standards/IStandardToken.cs
  src/Stratis.SmartContracts.Standards/Stratis.SmartContracts.Standards.csproj
  src/Stratis.SmartContracts.Token/Stratis.SmartContracts.Token.csproj
Labels: smart-contracts

#3056 [SC] Stratis.SmartContracts.Tests.Common version
  src/Stratis.SmartContracts.Tests.Common/Stratis.SmartContracts.Tests.Common.csproj
Labels: smart-contracts

#3057 [SC] Remove last superfluous SC project, TestChain
  src/Stratis.Bitcoin.FullNode.sln
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
  src/Stratis.SmartContracts.IntegrationTests/TestChain/TestChainExample.cs
  src/Stratis.SmartContracts.Test/Base58Address.cs
  src/Stratis.SmartContracts.Test/SendCallContractResult.cs
  src/Stratis.SmartContracts.Test/SendCreateContractResult.cs
  src/Stratis.SmartContracts.Test/Stratis.SmartContracts.Test.csproj
  src/Stratis.SmartContracts.Test/TestChain.cs
Labels: smart-contracts

#3064 [SC] Use invariant culture in MockChainNode
  src/Stratis.SmartContracts.Tests.Common/MockChain/MockChainNode.cs
Labels: smart-contracts

#3068 [SC] Add tests demonstrating foreach behaviour
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/DeterminismValidationTests.cs
Labels: smart-contracts

#3066 [SC] Add tests demonstrating public partials
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/DeterminismValidationTests.cs
Labels: smart-contracts

#3048 Fix ProvenHeaderCoinStakeRule
  src/Stratis.Bitcoin.Features.Consensus.Tests/Rules/ConsensusRuleUnitTestBase.cs
  src/Stratis.Bitcoin.Features.Consensus/Interfaces/IStakeValidator.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/PosBlockSignatureRule.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/ProvenHeaderRules/ProvenHeaderCoinstakeRule.cs
  src/Stratis.Bitcoin.Features.Consensus/StakeValidator.cs
Labels: Urgent, bug

#3065 [SC] Add statics tests
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/DeterminismValidationTests.cs
Labels: smart-contracts

#3087 [SC] Remove SCT
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Deployer/HttpContractDeployerTests.cs
  src/Stratis.Bitcoin.FullNode.sln
  src/Stratis.SmartContracts.Core/Deployment/DeploymentResult.cs
  src/Stratis.SmartContracts.Core/Deployment/HttpContractDeployer.cs
  src/Stratis.SmartContracts.Core/Deployment/Models.cs
  src/Stratis.SmartContracts.Tools.Sct/Base58Converter.cs
  src/Stratis.SmartContracts.Tools.Sct/Build/Builder.cs
  src/Stratis.SmartContracts.Tools.Sct/Deployment/Deployer.cs
  src/Stratis.SmartContracts.Tools.Sct/Extensions.cs
  src/Stratis.SmartContracts.Tools.Sct/Program.cs
  src/Stratis.SmartContracts.Tools.Sct/Properties/launchSettings.json
  src/Stratis.SmartContracts.Tools.Sct/Report/BaseRenderer.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/Elements/HeaderElement.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/Elements/NewLineElement.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/Elements/ReportElement.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/Elements/SpacerElement.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/IReportElement.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/IReportRenderer.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/IReportSection.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/Sections/ByteCodeSection.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/Sections/CompilationSection.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/Sections/DeterminismSection.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/Sections/FooterSection.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/Sections/FormatSection.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/Sections/HeaderSection.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/Sections/WarningsSection.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/StreamTextRenderer.cs
  src/Stratis.SmartContracts.Tools.Sct/Report/ValidationReportData.cs
  src/Stratis.SmartContracts.Tools.Sct/SctDeterminismValidator.cs
  src/Stratis.SmartContracts.Tools.Sct/Stratis.SmartContracts.Tools.Sct.csproj
  src/Stratis.SmartContracts.Tools.Sct/Validation/Validator.cs
  src/Stratis.SmartContracts.Tools.Sct/ValidatorService.cs
Labels: smart-contracts

#3103 [SC] Remove xunit runners
  src/Stratis.SmartContracts.CLR.Tests/Stratis.SmartContracts.CLR.Tests.csproj
  src/Stratis.SmartContracts.CLR.Tests/xunit.runner.json
  src/Stratis.SmartContracts.CLR.Validation.Tests/Stratis.SmartContracts.CLR.Validation.Tests.csproj
  src/Stratis.SmartContracts.CLR.Validation.Tests/xunit.runner.json
  src/Stratis.SmartContracts.Core.Tests/Stratis.SmartContracts.Core.Tests.csproj
  src/Stratis.SmartContracts.Core.Tests/xunit.runner.json
Labels: smart-contracts

#3115 [SC] Introduce standard scripts to smart contract networks
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.Networks/Policies/SmartContractsStandardScriptsRegistry.cs
  src/Stratis.SmartContracts.Networks/SmartContractPosRegTest.cs
  src/Stratis.SmartContracts.Networks/SmartContractPosTest.cs
  src/Stratis.SmartContracts.Networks/SmartContractsPoARegTest.cs
  src/Stratis.SmartContracts.Networks/SmartContractsPoATest.cs
  src/Stratis.SmartContracts.Networks/SmartContractsRegTest.cs
  src/Stratis.SmartContracts.Networks/SmartContractsTest.cs
Labels: smart-contracts

#3104 Fix test case for disconnecting node on invalid stake depth
  src/Stratis.Bitcoin.IntegrationTests.Common/TestHelper.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerTests.cs
Labels: bug

#3136 Ensure Consensus Manager Integration tests run more accurately
  src/Stratis.Bitcoin.IntegrationTests.Common/BlockObserverFeature.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/BlockBuilder.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/EnvironmentMockUpHelpers/CoreNode.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/NodeRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisBitcoinPosRunner.cs
  src/Stratis.Bitcoin.IntegrationTests.Common/Runners/StratisBitcoinPowRunner.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerFailedReorgTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerInterceptorTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Program.cs
Labels: Integration/Unit Test

#3141 [SC] Fix wallet syncing issue
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Models/RequestValidationTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Models/BuildCallContractTransactionRequest.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Models/BuildCreateContractTransactionRequest.cs
Labels: smart-contracts

#3133 [SC] Minor changes to tests
  src/Stratis.SmartContracts.CLR.Tests/ContractTransferProcessorTests.cs
  src/Stratis.SmartContracts.CLR.Tests/DeterminismErrorMessageTests.cs
  src/Stratis.SmartContracts.CLR.Validation/Validators/Instruction/FloatValidator.cs
Labels: smart-contracts

#3144 [SC] Check nested type is value type
  src/Stratis.SmartContracts.CLR.Tests/FormatValidationTests.cs
  src/Stratis.SmartContracts.CLR.Validation.Tests/SmartContractDeterminismValidatorTests.cs
  src/Stratis.SmartContracts.CLR.Validation.Tests/ValidationTests.cs
  src/Stratis.SmartContracts.CLR.Validation/FormatPolicy.cs
  src/Stratis.SmartContracts.CLR.Validation/Validators/Type/NestedTypeIsValueTypeValidator.cs
  src/Stratis.SmartContracts.CLR.Validation/Validators/Type/NestedTypesAreValueTypesValidator.cs
Labels: smart-contracts

#3168 [SC] Extra test cases
  src/Stratis.SmartContracts.IntegrationTests/Modules/Hang
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#3166 [SC] Improve Cecil reliability
  src/Stratis.SmartContracts.CLR.Tests/ContractDecompilerTests.cs
  src/Stratis.SmartContracts.CLR.Tests/Modules/ArgumentNullOrEmptyException
  src/Stratis.SmartContracts.CLR.Tests/Modules/ArgumentOutOfRangeException
  src/Stratis.SmartContracts.CLR.Tests/Modules/AssemblyResolutionException
  src/Stratis.SmartContracts.CLR.Tests/Modules/IndexOutOfRangeException
  src/Stratis.SmartContracts.CLR.Tests/Modules/NotImplementedException
  src/Stratis.SmartContracts.CLR.Tests/Modules/NotSupportedException
  src/Stratis.SmartContracts.CLR.Tests/Modules/NullReferenceException
  src/Stratis.SmartContracts.CLR.Tests/Modules/OverflowException
  src/Stratis.SmartContracts.CLR.Tests/Stratis.SmartContracts.CLR.Tests.csproj
  src/Stratis.SmartContracts.CLR/Compilation/ContractDecompiler.cs
Labels: smart-contracts
