Repository stratisproject/StratisBitcoinFullNode, pull requests merged in 2019-02, with the labels that each got.

#3153 [SC] FormatRule improvements
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/SmartContractFormatRuleTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Consensus/Rules/SmartContractFormatRule.cs
Labels: smart-contracts

#3177 [SC] Validate LogsBloom
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/SmartContractCoinViewRuleLogic.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractConsensusErrors.cs
Labels: smart-contracts

#3173 [SC] Extra refund check
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/SmartContractCoinViewRuleLogic.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractConsensusErrors.cs
Labels: smart-contracts

#3206 [SC] Transaction success message nicer
  src/Stratis.Bitcoin.Features.SmartContracts/Models/BuildContractTransactionResponse.cs
Labels: smart-contracts

#3152 [SC] OpSpendRule improvements
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/OpSpendRuleTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/OpSpendRule.cs
Labels: smart-contracts

#3174 [SC] GetSender returns Result in all cases
  src/Stratis.SmartContracts.Core.Tests/SenderRetrieverTests.cs
  src/Stratis.SmartContracts.Core.Tests/Stratis.SmartContracts.Core.Tests.csproj
  src/Stratis.SmartContracts.Core/Util/SenderRetriever.cs
Labels: smart-contracts

#3224 [SC] Improve integration test stability
  src/Stratis.SmartContracts.IntegrationTests/ContractExecutionFailureTests.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractInternalTransferTests.cs
  src/Stratis.SmartContracts.IntegrationTests/ContractParameterSerializationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/ContractCreationTests.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractSharedSteps.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.Tests.Common/MockChain/MockChainNode.cs
Labels: smart-contracts

#3212 [RPC] Reworked the gettransaction RPC method.
  src/Stratis.Bitcoin.Features.ColdStaking/Controllers/ColdStakingWalletRPCController.cs
  src/Stratis.Bitcoin.Features.Wallet/Models/GetTransactionModel.cs
  src/Stratis.Bitcoin.Features.Wallet/WalletManager.cs
  src/Stratis.Bitcoin.Features.Wallet/WalletRPCController.cs
  src/Stratis.Bitcoin.IntegrationTests/Wallet/WalletRPCControllerTest.cs
Labels: bug, wallet

#3225 [SC] Up RuntimeObserver package
  src/Stratis.SmartContracts.RuntimeObserver/Stratis.SmartContracts.RuntimeObserver.csproj
Labels: smart-contracts

#3240 [SC] Queryable return value in receipt
  src/Stratis.Bitcoin.Features.SmartContracts/Models/ReceiptResponse.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
Labels: smart-contracts

#3237 [SC] Contract balance returned in STRAT
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Controllers/SmartContractsControllerTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/SmartContractsController.cs
Labels: smart-contracts

#3246 [SC] Merge dev-sc
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/ContractValidationRuleTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/OpSpendRuleTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/Consensus/Rules/TxOutSmartContractExecRuleTest.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Consensus/Rules/SmartContractFormatLogic.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/OpSpendRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/SmartContractCoinViewRuleLogic.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/TxOutSmartContractExecRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractConsensusErrors.cs
  src/Stratis.SmartContracts.CLR.Tests/ContractDecompilerTests.cs
  src/Stratis.SmartContracts.CLR.Tests/ContractModuleDefinitionTests.cs
  src/Stratis.SmartContracts.CLR.Tests/FormatValidationTests.cs
  src/Stratis.SmartContracts.CLR.Tests/Modules/ArgumentNullOrEmptyException
  src/Stratis.SmartContracts.CLR.Tests/Modules/ArgumentOutOfRangeException
  src/Stratis.SmartContracts.CLR.Tests/Modules/AssemblyResolutionException
  src/Stratis.SmartContracts.CLR.Tests/Modules/IndexOutOfRangeException
  src/Stratis.SmartContracts.CLR.Tests/Modules/NotImplementedException
  src/Stratis.SmartContracts.CLR.Tests/Modules/NotSupportedException
  src/Stratis.SmartContracts.CLR.Tests/Modules/NullReferenceException
  src/Stratis.SmartContracts.CLR.Tests/Modules/OverflowException
  src/Stratis.SmartContracts.CLR.Tests/Stratis.SmartContracts.CLR.Tests.csproj
  src/Stratis.SmartContracts.CLR.Validation.Tests/SmartContractDeterminismValidatorTests.cs
  src/Stratis.SmartContracts.CLR.Validation.Tests/ValidationTests.cs
  src/Stratis.SmartContracts.CLR.Validation/FormatPolicy.cs
  src/Stratis.SmartContracts.CLR.Validation/TypePolicyValidator.cs
  src/Stratis.SmartContracts.CLR.Validation/Validators/Method/PInvokeValidator.cs
  src/Stratis.SmartContracts.CLR.Validation/Validators/Module/AssemblyReferenceValidator.cs
  src/Stratis.SmartContracts.CLR.Validation/Validators/Type/NestedTypeIsValueTypeValidator.cs
  src/Stratis.SmartContracts.CLR.Validation/Validators/Type/NestedTypesAreValueTypesValidator.cs
  src/Stratis.SmartContracts.CLR/Compilation/ContractDecompiler.cs
  src/Stratis.SmartContracts.CLR/Contract.cs
  src/Stratis.SmartContracts.CLR/ContractInvocationErrorType.cs
  src/Stratis.SmartContracts.CLR/ContractModuleDefinition.cs
  src/Stratis.SmartContracts.CLR/ReflectionVirtualMachine.cs
  src/Stratis.SmartContracts.CLR/VmExecutionResult.cs
  src/Stratis.SmartContracts.Core.Tests/SenderRetrieverTests.cs
  src/Stratis.SmartContracts.Core.Tests/Stratis.SmartContracts.Core.Tests.csproj
  src/Stratis.SmartContracts.Core/Util/SenderRetriever.cs
  src/Stratis.SmartContracts.IntegrationTests/Modules/Hang
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractWalletTests.cs
  src/Stratis.SmartContracts.IntegrationTests/Stratis.SmartContracts.IntegrationTests.csproj
Labels: smart-contracts

#3266 [SC] Fix all vars in SC code style
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/SmartContractsController.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/ReflectionVirtualMachineFeature.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/OpSpendRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Wallet/SmartContractTransactionService.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Wallet/SmartContractWalletController.cs
  src/Stratis.SmartContracts.CLR.Validation/ModulePolicyValidator.cs
  src/Stratis.SmartContracts.CLR.Validation/SmartContractFormatValidator.cs
  src/Stratis.SmartContracts.CLR.Validation/SmartContractValidator.cs
  src/Stratis.SmartContracts.CLR.Validation/TypePolicyValidator.cs
  src/Stratis.SmartContracts.CLR.Validation/Validators/Method/MethodParamValidator.cs
  src/Stratis.SmartContracts.CLR.Validation/Validators/Type/ConstructorParamValidator.cs
  src/Stratis.SmartContracts.CLR.Validation/Validators/WhitelistValidator.cs
  src/Stratis.SmartContracts.CLR/AddressExtensions.cs
  src/Stratis.SmartContracts.CLR/CallDataSerializer.cs
  src/Stratis.SmartContracts.CLR/Compilation/ContractDecompiler.cs
  src/Stratis.SmartContracts.CLR/Compilation/DotNetCoreAssemblyDefinitionResolver.cs
  src/Stratis.SmartContracts.CLR/ContractLogging/RawLog.cs
  src/Stratis.SmartContracts.CLR/Decompilation/CSharpContractDecompiler.cs
  src/Stratis.SmartContracts.CLR/PersistentState.cs
  src/Stratis.SmartContracts.CLR/Serialization/ContractPrimitiveSerializer.cs
  src/Stratis.SmartContracts.CLR/Serialization/MethodParameterByteSerializer.cs
  src/Stratis.SmartContracts.CLR/Serialization/MethodParameterStringSerializer.cs
  src/Stratis.SmartContracts.CLR/Serialization/Prefix.cs
  src/Stratis.SmartContracts.Core/Extensions.cs
  src/Stratis.SmartContracts.Core/State/AbstractCachedSource.cs
Labels: smart-contracts

#3274 [SC] Add this. to smart contract projects code style
  src/Stratis.Bitcoin.Features.SmartContracts/IBlockBufferGenerator.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoS/SmartContractPosConsensusFactory.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoS/SmartContractPosPowBlockDefinition.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoW/SmartContractBlockDefinition.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoW/SmartContractPowConsensusFactory.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/SmartContractsController.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/AllowedScriptTypeRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/CanGetSenderRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/MempoolOpSpendRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/P2PKHNotContractRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/SmartContractCoinViewRuleLogic.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/TxOutSmartContractExecRule.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractMempoolValidator.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Wallet/SmartContractWalletController.cs
  src/Stratis.SmartContracts.CLR.Validation/TypePolicyValidator.cs
  src/Stratis.SmartContracts.CLR.Validation/Validators/Type/ConstructorParamValidator.cs
  src/Stratis.SmartContracts.CLR/Contract.cs
  src/Stratis.SmartContracts.CLR/ILRewrite/MemoryLimitRewriter.cs
  src/Stratis.SmartContracts.CLR/ILRewrite/ObserverRewriter.cs
  src/Stratis.SmartContracts.CLR/ResultProcessors/ContractRefundProcessor.cs
  src/Stratis.SmartContracts.CLR/ResultProcessors/ContractTransferProcessor.cs
  src/Stratis.SmartContracts.CLR/Serialization/ContractPrimitiveSerializer.cs
  src/Stratis.SmartContracts.CLR/Serialization/MethodParameterStringSerializer.cs
  src/Stratis.SmartContracts.Core/Bloom.cs
  src/Stratis.SmartContracts.Core/Receipts/Receipt.cs
  src/Stratis.SmartContracts.Core/State/StateRepositoryRoot.cs
  src/Stratis.SmartContracts.Core/Util/SenderRetriever.cs
Labels: smart-contracts

#3288 [FS] Sidechains test skipping with option
  src/Stratis.Features.FederatedPeg.Tests/BlockObserverTests.cs
  src/Stratis.Features.FederatedPeg.Tests/BlockTipModelTests.cs
  src/Stratis.Features.FederatedPeg.Tests/Chain_With_NetworkExtension_Shall.cs
  src/Stratis.Features.FederatedPeg.Tests/ControllersTests/FederationGatewayControllerTests.cs
  src/Stratis.Features.FederatedPeg.Tests/ControllersTests/FederationWalletControllerTests.cs
  src/Stratis.Features.FederatedPeg.Tests/CrossChainTransferStoreTests.cs
  src/Stratis.Features.FederatedPeg.Tests/DepositExtractorTests.cs
  src/Stratis.Features.FederatedPeg.Tests/LeaderProviderTests.cs
  src/Stratis.Features.FederatedPeg.Tests/LeaderReceiverTests.cs
  src/Stratis.Features.FederatedPeg.Tests/MaturedBlockDepositModelTests.cs
  src/Stratis.Features.FederatedPeg.Tests/MaturedBlockRequestModelTests.cs
  src/Stratis.Features.FederatedPeg.Tests/MaturedBlocksProviderTests.cs
  src/Stratis.Features.FederatedPeg.Tests/MaturedBlocksSyncManagerTests.cs
  src/Stratis.Features.FederatedPeg.Tests/OpReturnDataReaderTests.cs
  src/Stratis.Features.FederatedPeg.Tests/RestClientsTests/FederationGatewayClientTests.cs
  src/Stratis.Features.FederatedPeg.Tests/RestClientsTests/RestApiClientBaseTests.cs
  src/Stratis.Features.FederatedPeg.Tests/SignedMultisigTransactionBroadcasterTests.cs
  src/Stratis.Features.FederatedPeg.Tests/Utils/TestingValues.cs
  src/Stratis.Features.FederatedPeg.Tests/WithdrawalExtractorTests.cs
  src/Stratis.Features.FederatedPeg.Tests/WithdrawalReceiverTests.cs
  src/Stratis.Features.FederatedPeg.Tests/WithdrawalTests.cs
Labels: SideChains

#3289 [FS] Remove unused code
  src/Stratis.Features.FederatedPeg/Wallet/FederationWallet.cs
Labels: SideChains
