Repository stratisproject/StratisBitcoinFullNode, pull requests merged in 2019-10, with the labels that each got.

#3986 [SC] Dynamic swagger contract API
  src/Stratis.Bitcoin.Features.Api/Startup.cs
  src/Stratis.Bitcoin.Features.Api/Stratis.Bitcoin.Features.Api.csproj
  src/Stratis.Bitcoin.Features.SmartContracts.Tests/ContractSchemaFactoryTests.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/ContractSchemaFactory.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/ContractSwaggerController.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/ContractSwaggerDocGenerator.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/DynamicContractController.cs
  src/Stratis.Bitcoin.Features.SmartContracts/ReflectionExecutor/Controllers/SwaggerUIContractListMiddleware.cs
  src/Stratis.Bitcoin.Features.SmartContracts/SmartContractFeature.cs
  src/Stratis.Bitcoin.Features.SmartContracts/Stratis.Bitcoin.Features.SmartContracts.csproj
  src/Stratis.Bitcoin.Features.SmartContracts/Wallet/SmartContractWalletController.cs
  src/Stratis.Bitcoin.Features.SmartContracts/WalletExtensions.cs
  src/Stratis.CirrusD/Properties/launchSettings.json
  src/Stratis.SmartContracts.CLR.Tests/Loader/ContractAssemblyTests.cs
  src/Stratis.SmartContracts.CLR.Tests/Loader/Test.cs
  src/Stratis.SmartContracts.CLR.Tests/ParameterInfoMapperExtensionsTests.cs
  src/Stratis.SmartContracts.CLR/Loader/ContractAssembly.cs
  src/Stratis.SmartContracts.CLR/Loader/IContractAssembly.cs
  src/Stratis.SmartContracts.CLR/Serialization/ParameterInfoMapperExtensions.cs
  src/Stratis.SmartContracts.CLR/Serialization/Prefix.cs
Labels: smart-contracts

#4012 [SC] Add block number to receipts
  src/Stratis.Bitcoin.Features.SmartContracts/Rules/SmartContractCoinViewRuleLogic.cs
  src/Stratis.SmartContracts.Core.Tests/Receipts/PersistentReceiptRepositoryTests.cs
  src/Stratis.SmartContracts.Core.Tests/Receipts/ReceiptSerializationTest.cs
  src/Stratis.SmartContracts.Core/Receipts/Receipt.cs
Labels: smart-contracts

#3775 [FN] Enable Segregated Witness on POS protocols (Stratis network)
  src/NBitcoin.Tests/NetworkTests.cs
  src/NBitcoin/Consensus.cs
  src/NBitcoin/ConsensusOptions.cs
  src/NBitcoin/IConsensus.cs
  src/Stratis.Bitcoin.Features.BlockStore/BlockStoreFeature.cs
  src/Stratis.Bitcoin.Features.Consensus.Tests/TestChainFactory.cs
  src/Stratis.Bitcoin.Features.Consensus/ConsensusFeature.cs
  src/Stratis.Bitcoin.Features.Consensus/PosConsensusFeature.cs
  src/Stratis.Bitcoin.Features.Consensus/PowConsensusFeature.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/PosCoinstakeRule.cs
  src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/WitnessCommitmentsRule.cs
  src/Stratis.Bitcoin.Features.MemoryPool.Tests/TestChainFactory.cs
  src/Stratis.Bitcoin.Features.Miner.Tests/PosBlockAssemblerTest.cs
  src/Stratis.Bitcoin.Features.Miner.Tests/PosMintingTest.cs
  src/Stratis.Bitcoin.Features.Miner.Tests/PowBlockAssemblerTest.cs
  src/Stratis.Bitcoin.Features.Miner.Tests/PowMiningTest.cs
  src/Stratis.Bitcoin.Features.Miner/BlockDefinition.cs
  src/Stratis.Bitcoin.Features.Miner/BlockProvider.cs
  src/Stratis.Bitcoin.Features.Miner/PosBlockDefinition.cs
  src/Stratis.Bitcoin.Features.Miner/PosPowBlockDefinition.cs
  src/Stratis.Bitcoin.Features.Miner/PowBlockDefinition.cs
  src/Stratis.Bitcoin.Features.Miner/PowMining.cs
  src/Stratis.Bitcoin.Features.Miner/Staking/PosMinting.cs
  src/Stratis.Bitcoin.Features.PoA/PoABlockDefinition.cs
  src/Stratis.Bitcoin.Features.PoA/PoAConsensusOptions.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoA/SmartContractPoABlockDefinition.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoS/SmartContractBlockProvider.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoS/SmartContractPosPowBlockDefinition.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoW/SmartContractBlockDefinition.cs
  src/Stratis.Bitcoin.IntegrationTests/CoinViewTests.cs
  src/Stratis.Bitcoin.IntegrationTests/ConsensusManagerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/MinerTests.cs
  src/Stratis.Bitcoin.IntegrationTests/Program.cs
  src/Stratis.Bitcoin.IntegrationTests/RPC/RPCTestsMutable.cs
  src/Stratis.Bitcoin.IntegrationTests/SegWitTests.cs
  src/Stratis.Bitcoin.Networks/Deployments/BitcoinBIP9Deployments.cs
  src/Stratis.Bitcoin.Networks/Deployments/StratisBIP9Deployments.cs
  src/Stratis.Bitcoin.Networks/StratisMain.cs
  src/Stratis.Bitcoin.Networks/StratisRegTest.cs
  src/Stratis.Bitcoin.Networks/StratisTest.cs
  src/Stratis.Bitcoin/Base/Deployments/ThresholdConditionCache.cs
  src/Stratis.Bitcoin/Connection/ConnectionManager.cs
  src/Stratis.Bitcoin/Connection/IConnectionManager.cs
  src/Stratis.Bitcoin/Mining/IBlockProvider.cs
  src/Stratis.Features.FederatedPeg.IntegrationTests/Utils/TestFederatedPegBlockDefinition.cs
  src/Stratis.Features.FederatedPeg/FederatedPegBlockDefinition.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractMinerTests.cs
  src/Stratis.SmartContracts.Networks/SmartContractPosRegTest.cs
  src/Stratis.SmartContracts.Networks/SmartContractsRegTest.cs
Labels: improvement, segwit

#3797 [FN] Wallet to support segwit
  src/NBitcoin/Transaction.cs
  src/Stratis.Benchmark/Program.cs
  src/Stratis.Bitcoin.Features.ColdStaking.Tests/ColdStakingControllerTest.cs
  src/Stratis.Bitcoin.Features.ColdStaking/ColdStakingManager.cs
  src/Stratis.Bitcoin.Features.ColdStaking/Controllers/ColdStakingController.cs
  src/Stratis.Bitcoin.Features.ColdStaking/Models/ColdStakingModels.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoA/SmartContractPoABlockDefinition.cs
  src/Stratis.Bitcoin.Features.SmartContracts/PoW/SmartContractBlockDefinition.cs
  src/Stratis.Bitcoin.Features.Wallet/Controllers/WalletController.cs
  src/Stratis.Bitcoin.Features.Wallet/Models/RequestModels.cs
  src/Stratis.Bitcoin.Features.Wallet/Wallet.cs
  src/Stratis.Bitcoin.Features.Wallet/WalletManager.cs
  src/Stratis.Bitcoin.Features.Wallet/WalletTransactionHandler.cs
  src/Stratis.Features.FederatedPeg.IntegrationTests/Utils/TestFederatedPegBlockDefinition.cs
  src/Stratis.SmartContracts.IntegrationTests/PoW/SmartContractMinerTests.cs
Labels: segwit
